@charset "UTF-8";
/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #006286;
  font: 500 14px 'Roboto', sans-serif;
  background-color: #ffffff;
  position: relative;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}

label {
  margin: 0;
}

input, button, select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex-d-column-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-section {
  padding: 55px 0 65px;
}

.title-screen {
  font-size: 36px;
}

.btn {
  color: #ffffff;
  padding: 9.5px 11px;
  text-transform: uppercase;
  letter-spacing: 0.07px;
  position: relative;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.btn.btn-filter {
  background-color: #0a77ca;
  padding: 9.5px 30px 9.5px 11px;
}

.btn.btn-filter svg {
  fill: #fff;
  width: 20px;
  position: absolute;
  right: 6px;
  top: 8px;
  height: 20px;
}

.btn.btn-compilation {
  background-color: #0a77ca;
  padding: 9.5px 15px;
  display: inline-block;
}

.btn.btn-compilation:hover, .btn.btn-compilation:focus {
  color: #fff;
}

.btn.btn-exit {
  padding: 9.5px 19px;
  background-color: #fff;
  color: #0a77ca;
  border: 1px solid #bcbec0;
}

.btn.btn-exit:hover {
  background-color: #0a77ca;
  color: #fff;
  border: 1px solid transparent;
}

.btn.btn-more {
  padding: 9.5px 30px 9.5px 11px;
  background-color: #fff;
  color: #0a77ca;
  border: 1px solid #bcbec0;
}

.btn.btn-more:hover {
  border: 1px solid transparent;
}

.btn.btn-more svg {
  fill: #41494d;
  width: 20px;
  position: absolute;
  right: 6px;
  top: 8px;
  height: 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.btn.btn-more svg.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn.btn-subscription {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 11px 8.5px;
}

.btn.btn-subscription:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  color: #006286;
}

.btn.btn-subscription:focus {
  background-color: #035A72;
  border: 1px solid transparent;
  color: #ffffff;
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.sticker-card {
  margin-top: 8px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sticker-card .sticker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25px;
  padding: 5px 8px;
  -webkit-border-radius: 12.5px;
          border-radius: 12.5px;
  color: #ffffff;
  font-size: 12px;
  margin-top: 5px;
}

.sticker-card .sticker.str-demand {
  background-color: #ef7b0a;
}

.sticker-card .sticker.str-profitable-option {
  background-color: #39b54a;
}

.sticker-card .sticker.str-burning-price {
  background-color: #fe6b6b;
}

.sticker-card .sticker.str-nice-choice {
  background-color: #d1d3d4;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99999;
  border-bottom: 1px solid #bcbec0;
}

.open-mob-nav {
  cursor: pointer;
  display: none;
}

.open-mob-nav span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #757575;
}

.open-mob-nav span + span {
  margin-top: 3px;
}

.header-container {
  width: 100%;
  padding: 0 15px;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 105px;
  position: relative;
  height: 105px;
}

.header-container.active_mob::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: -1px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-logo img {
  width: 130px;
}

.header-nav {
  font-size: 18px;
  font-weight: 300;
}

.header-nav a + a {
  margin-left: 15px;
}

.callback {
  color: #808285;
  font-weight: 700;
  font-size: 12px;
}

.callback p {
  font-size: 24px;
  margin-top: 3px;
}

.mob_nav {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  max-width: 371px;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  z-index: 999999999;
}

.mob_nav .mob_nav-wrap {
  margin: 0 auto;
  max-width: 192px;
}

.mob_nav .mob_nav-wrap .header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 105px;
  height: 105px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob_nav .mob_nav-wrap .header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #bcbec0;
  border-bottom: 1px solid #bcbec0;
  margin-top: 25px;
}

.mob_nav .mob_nav-wrap .header-nav a {
  padding: 15px 0;
}

.mob_nav .mob_nav-wrap .header-nav a + a {
  margin-left: 0;
  border-top: 1px solid #bcbec0;
}

.mob_nav .mob_nav-wrap .callback {
  margin-top: 65px;
}

.mob_nav .exit-active-mob_nav {
  position: absolute;
  display: inline-block;
  top: 45px;
  left: 18px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

.mob_nav.active {
  left: 0;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

section {
  background-color: #FFFFFF;
}

main {
  margin-top: 105px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #f1f2f2;
}

main.active::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4);
}

main.active_mob::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
}

.head-screen {
  min-height: 530px;
  background: url("../img/head-screen-bg.png") no-repeat center/cover;
  padding-top: 100px;
}

.head-screen-wrap {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.description-filter {
  color: #fff;
}

.description-filter p {
  font-size: 27px;
  margin-left: 25px;
}

.filters {
  margin-top: 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 25px 40px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 99;
}

.filters .data-find {
  width: 77%;
}

.filters .action-find {
  width: 23%;
  text-align: right;
}

.filters .extended-search {
  position: absolute;
  top: 70%;
  width: 100%;
  background-color: #fff;
  left: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

.filters .extended-search.active {
  height: auto;
  opacity: 1;
  z-index: 1;
  top: 100%;
  padding-top: 10px;
  padding-bottom: 85px;
}

.filters .exit-active-filter {
  position: absolute;
  opacity: 0;
  z-index: -1;
  display: inline-block;
  top: 15px;
  right: 10px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

.filters.active {
  padding: 40px 25px;
}

.filters.active .exit-active-filter {
  opacity: 1;
  z-index: 1;
}

.head-data-filter .group,
.additional-data-filter .group {
  width: 27%;
}

.head-data-filter .group:first-child,
.additional-data-filter .group:first-child {
  width: 40%;
}

.additional-data-filter {
  margin-top: 45px;
}

.filter-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-price .group {
  width: 46px;
  margin-bottom: 4px;
}

.filter-price .group label {
  left: 0;
}

.filter-price .group input {
  padding: 7px 0;
}

.group.raiting input:focus ~ label,
.group.raiting input:valid ~ label {
  top: 10px;
  font-size: 14px;
  color: #939598;
}

.group.raiting label {
  left: 0;
}

.group.raiting .rat-head {
  position: absolute;
  left: 60px;
  top: 10px;
}

.group.raiting .rat-head img {
  width: 15px;
}

.group.raiting input {
  cursor: pointer;
}

.extended-filter {
  cursor: pointer;
  margin-top: 57px;
}

.extended-filter span {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 300;
}

.extended-filter svg {
  width: 20px;
  height: 20px;
  fill: #006286;
  vertical-align: middle;
}

.extended-wrap {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}

.extended-wrap .facilities {
  margin-top: 45px;
}

.extended-wrap .title {
  color: #231f20;
  font-size: 18px;
  font-weight: 700;
}

.choice {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 10px;
}

.preliminary-search-val {
  color: #231f20;
  font-size: 16px;
  font-weight: 300;
}

.preliminary-search {
  margin-top: 65px;
}

.go-to-search .btn + .btn {
  margin-left: 24px;
}

.advantages-screen .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.advantages-wrap {
  min-height: 135px;
  width: 100%;
}

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #231f20;
  font-weight: 500;
  font-size: 18px;
}

.advantages img {
  width: 33px;
  height: 33px;
  margin-right: 25px;
}

.resort-towns-screen,
.popular-sanatoriums-screen {
  padding-top: 60px;
}

.resort-towns-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 40px;
}

.resort-towns-wrap .town {
  width: 16%;
  height: 175px;
  position: relative;
  display: none;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.resort-towns-wrap .town img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}

.resort-towns-wrap .town .town-info {
  position: relative;
  width: 100%;
  background-color: rgba(15, 111, 148, 0.91);
  color: #ffffff;
  padding: 10px 10px 0;
  min-height: 65px;
}

.resort-towns-wrap .town .town-info span {
  font-size: 16px;
}

.resort-towns-wrap .town .town-info p {
  font-weight: 300;
}

.resort-towns-wrap .town.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.resort-towns-wrap .town-clear {
  width: 16%;
}

.resort-towns-wrap.active {
  overflow: visible;
  height: auto !important;
}

.more {
  margin-top: 25px;
  text-align: center;
}

.more.hide {
  display: none;
}

.search-result-item__star-rating {
  width: 98px;
  height: 16px;
  background: url("../img/no-star.svg");
  -webkit-background-size: contain;
  background-size: contain;
}

.search-result-item__star {
  width: 40%;
  height: 100%;
  background: url("../img/ok-star.svg");
  -webkit-background-size: contain;
  background-size: contain;
}

.rating-sanatoriums {
  margin-top: 18px;
}

.rating-sanatoriums span {
  font-weight: 300;
  color: #212121;
  margin-right: 10px;
}

.popular-sanatoriums-screen {
  padding-bottom: 100px;
}

.popular-sanatoriums-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 40px;
  padding: 10px 15px;
  overflow: hidden;
}

.popular-sanatoriums-wrap.head-s-popular {
  height: 1020px;
}

.popular-sanatoriums-wrap.canegories-p {
  height: 2035px;
}

.popular-sanatoriums-wrap.categories-card-p {
  height: 535px;
}

.popular-sanatoriums-wrap.active {
  height: auto !important;
  overflow: visible;
}

.sanatorium-card-clear {
  width: 24%;
  margin-top: 15px;
}

.sanatorium-card {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  overflow: hidden;
  width: 24%;
  position: relative;
  margin-top: 15px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: none;
}

.sanatorium-card:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.sanatorium-card .card-head-info-wrap {
  height: 190px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.sanatorium-card .card-head-info-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
}

.sanatorium-card .card-head-info-wrap .card-head-info {
  position: relative;
  width: 100%;
  background-color: rgba(15, 111, 148, 0.91);
  color: #ffffff;
  padding: 13px 10px;
  min-height: 50px;
  font-size: 16px;
}

.sanatorium-card.active-show {
  display: block;
}

.card-content {
  padding: 10px 15px 25px;
}

.card-content .sanatorium-card-title {
  color: #212121;
  font-weight: 300;
}

.card-content .page-visitors-card {
  color: #808285;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 12px;
}

.card-content .btn.btn-filter {
  display: inline-block;
  margin-top: 17px;
  font-size: 13px;
}

.card-content .btn.btn-filter:hover {
  color: #ffffff;
}

.reed-reviews-card {
  font-weight: 300;
  margin-top: 17px;
  display: inline-block;
}

.price-card {
  margin-top: 20px;
}

.old-price {
  color: #808285;
  font-weight: 300;
  text-decoration: line-through;
}

.new-price {
  color: #212121;
  font-weight: 300;
}

.new-price span {
  color: #fe0603;
  font-weight: 700;
  font-size: 16px;
}

.notification-card {
  color: #39b54a;
  font-family: 'Myriad Pro', sans-serif;
  text-align: center;
  margin-top: 13px;
}

.advantages-booking-screen {
  padding: 55px 0 70px;
  background-color: #006286;
}

.advantages-booking-screen .title-screen {
  color: #ffffff;
  text-align: center;
}

.advantages-booking-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 40px;
}

.advantages-booking-wrap .card {
  height: 195px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: #fafafa;
  width: 208px;
  padding: 30px 36px 0;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.advantages-booking-wrap .card .icon-card img {
  width: 70px;
  height: 48px;
}

.advantages-booking-wrap .card .title-card {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.advantages-booking-wrap .card .desc-card {
  font-weight: 300;
}

.how-we-working-screen {
  padding: 100px 0 10px;
}

.how-we-working-screen .title-screen {
  text-align: center;
}

.how-we-working-wrap {
  max-width: 1050px;
  padding: 0 15px;
  margin: 55px auto 0;
  width: 100%;
}

.work-card {
  width: 18%;
  text-align: center;
  position: relative;
}

.work-card .work-card-icon {
  margin-bottom: 15px;
}

.work-card .work-card-icon img {
  height: 56px;
  width: 56px;
}

.work-card .work-card-desc {
  color: #231f20;
  font-weight: 300;
}

.work-card .arr-next {
  position: absolute;
  top: 15px;
  left: 75%;
  height: 25px;
  width: 116px;
  fill: #006286;
}

.support-service-screen {
  padding: 100px 0;
}

.support-service-screen .support-service-wrap {
  max-width: 865px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  padding: 38px 20px;
}

.support-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.title-support,
.phone-num-support {
  font-size: 36px;
}

.sect-support {
  color: #212121;
  font-size: 16px;
  font-weight: 300;
}

.info-company-screen {
  background-color: #f1f2f2;
  padding: 50px 0 60px;
}

.info-company-wrap {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.subscription {
  width: 100%;
  max-width: 430px;
  color: #ffffff;
}

.subscription .subscription-wrap {
  padding: 35px 20px 65px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: #006286;
}

.subscription .subscription-title {
  font-size: 24px;
}

.subscription .subscription-desc {
  font-weight: 300;
  margin-top: 5px;
}

.subscription form {
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription form .group input {
  max-width: 195px;
  background: transparent;
  color: #ffffff;
  border-bottom: 1px solid #fff;
  padding: 10px 10px 7px 5px;
}

.subscription form .group label {
  color: #ffffff;
  left: 0;
}

.subscription form .group .bar:before,
.subscription form .group .bar:after {
  background-color: #fff;
}

.card-contact {
  color: #231f20;
}

.card-contact + .card-contact {
  margin-top: 40px;
}

.card-contact-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.card-contact-title img {
  width: 22px;
  height: 22px;
  fill: #006286;
  margin-right: 20px;
}

.card-contact-info {
  max-width: 122px;
  width: 100%;
  margin-left: auto;
  text-align: right;
  font-weight: 300;
  border-top: 1px solid #8a8989;
  margin-top: 10px;
  padding-top: 20px;
}

.card-contact-info p + p {
  margin-top: 5px;
}

.card-contact-info.phone {
  color: #006286;
}

.card-contact-info.address {
  text-align: left;
}

.send-mail,
.send-review {
  max-width: 315px;
  width: 100%;
}

.send-mail form,
.send-review form {
  margin-top: 45px;
}

.send-mail form textarea,
.send-review form textarea {
  background-color: transparent;
  border: 1px solid #d7d9da;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 10px 13px;
  color: #231f20;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 18px;
  min-height: 150px;
}

.send-mail form textarea::-webkit-input-placeholder,
.send-review form textarea::-webkit-input-placeholder {
  color: #939598;
}

.send-mail form textarea::-moz-placeholder,
.send-review form textarea::-moz-placeholder {
  color: #939598;
}

.send-mail form textarea:-ms-input-placeholder,
.send-review form textarea:-ms-input-placeholder {
  color: #939598;
}

.send-mail form textarea::-ms-input-placeholder,
.send-review form textarea::-ms-input-placeholder {
  color: #939598;
}

.send-mail form textarea::placeholder,
.send-review form textarea::placeholder {
  color: #939598;
}

.send-mail .group,
.send-review .group {
  width: 48%;
}

.send-mail .group input,
.send-review .group input {
  width: 100%;
  background: transparent;
  color: #231f20;
  padding: 10px 10px 7px 5px;
  border-bottom: 1px solid #d7d9da;
}

.send-mail .group label,
.send-review .group label {
  left: 0;
  color: #939598;
}

.send-mail .group .bar:before,
.send-mail .group .bar:after,
.send-review .group .bar:before,
.send-review .group .bar:after {
  background-color: #006286;
}

.send-mail .send-mail-form,
.send-review .send-mail-form {
  text-align: right;
  margin-top: 15px;
}

.send-mail-title {
  color: #231f20;
  text-transform: uppercase;
}

.title-page {
  color: #231f20;
  font-size: 36px;
}

.search-screen {
  background-color: #8cb8c9;
  color: #ffffff;
}

.search-screen .search-screen-wrap {
  min-height: 35px;
  height: 35px;
}

.search-screen .title-search {
  font-size: 12px;
  font-weight: 300;
}

.search-screen .group {
  min-width: 300px;
  margin-left: 80px;
}

.search-screen .group input {
  background-color: transparent;
  padding: 5px 10px 4px 0;
  color: #ffffff;
  font-size: 12px;
  border-bottom: 1px solid transparent;
}

.search-screen .group input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-screen .group input::-moz-placeholder {
  color: #ffffff;
}

.search-screen .group input:-ms-input-placeholder {
  color: #ffffff;
}

.search-screen .group input::-ms-input-placeholder {
  color: #ffffff;
}

.search-screen .group input::placeholder {
  color: #ffffff;
}

.search-screen .group .search-go {
  left: -30px;
  bottom: -4px;
  position: absolute;
  display: inline-block;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.search-screen .group .search-go.active {
  left: 102%;
  height: 30px;
  width: 30px;
}

.search-screen .group img.icon {
  position: static;
}

.web-nav-screen {
  padding: 20px 0;
  color: #006286;
  font-weight: 300;
}

.web-nav-screen ul li {
  display: inline-block;
  position: relative;
}

.web-nav-screen ul li::before {
  content: '>';
  position: absolute;
  right: -12px;
  top: 1px;
  color: #808285;
}

.web-nav-screen ul li:last-child::before {
  display: none;
}

.web-nav-screen ul li + li {
  margin-left: 12px;
}

.web-nav-screen ul li.active {
  color: #808285;
}

.about-company-screen {
  padding: 60px 0 100px;
}

.about-company-wrap {
  width: 100%;
  padding: 0 15px;
  max-width: 860px;
  margin: 0 auto;
  color: #231f20;
}

.about-card {
  font-size: 18px;
  line-height: 32px;
  color: #231f20;
}

.about-card p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.about-card p a {
  color: #006286;
}

.about-card p + p {
  margin-top: 25px;
}

.about-card + .about-card {
  margin-top: 35px;
}

.contacts-page .web-nav-screen {
  background-color: #f1f2f2;
}

.contacts-page {
  background-color: #f1f2f2;
}

.contacts-page .info-company-screen {
  padding: 130px 0 100px;
}

.contacts-page .send-mail {
  max-width: 100%;
}

.contacts-page .send-mail .send-mail-form {
  width: 56%;
  margin-top: 0;
}

.contacts-page .send-mail .send-mail-form textarea {
  margin-top: 0;
}

.contacts-page .send-mail .send-mail-form .btn {
  margin-top: 20px;
}

.contacts-page .send-mail form {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-page .send-mail .name-and-surname {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 42%;
  padding-bottom: 70px;
}

.contacts-page .send-mail .name-and-surname .group {
  width: 100%;
}

.contacts-page .send-mail .name-and-surname .group + .group {
  margin-top: 35px;
}

.contacts-page .contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contacts-page .contacts .card-contact + .card-contact,
.contacts-page .contacts .card-contact {
  margin: 0;
}

.contacts-page .about-company-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-page .send-mail {
  margin-top: 85px;
}

.contacts-page .card-contact-title img {
  top: -33px;
  position: absolute;
  left: 0;
}

.contacts-page .card-contact-title {
  position: relative;
}

.card-sanatorium-screen,
.booking-form-screen {
  padding-top: 70px;
}

.card-sanatorium-wrap,
.booking-form-wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.sanatorium-title {
  color: #231f20;
  font-size: 24px;
}

.sanatorium-title img {
  width: 28px;
  vertical-align: middle;
}

.sanatorium-title span {
  vertical-align: middle;
}

.like-icon {
  margin-left: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.like-icon img {
  width: 28px;
  height: 28px;
}

.head-sanatorium-card-info {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.head-sanatorium-card-info .show-price {
  margin-left: auto;
}

.geo-position-sanatorium {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #212121;
  font-weight: 300;
  margin-top: 10px;
}

.geo-position-sanatorium a {
  color: #006286;
}

.geo-position-sanatorium img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.sanatorium-transfer-wrap {
  min-height: 28px;
  height: 28px;
  color: #231f20;
  background-color: #f1f2f2;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 0 10px;
  margin-left: 28px;
}

.sanatorium-transfer-wrap span {
  font-size: 12px;
  font-weight: 300;
  margin-left: 5px;
}

.sanatorium-transfer-wrap img {
  width: 18px;
  height: 18px;
}

.tabs-content {
  margin-top: 10px;
  padding-bottom: 45px;
}

.rating-sanatorium-card {
  padding-top: 7px;
  width: 30%;
}

.rating-sanatorium-card .detail-list {
  color: #231f20;
  font-size: 16px;
  font-weight: 300;
}

.rating-sanatorium-card .detail-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-sanatorium-card .detail-list li + li {
  margin-top: 10px;
}

.rating-sanatorium-card .detail-list li span {
  display: inline-block;
  min-width: 65px;
  margin-right: 13px;
}

.rating-sanatorium-card .detail-list li p {
  margin-left: 10px;
}

.rating-sanatorium-card .detail-list .detail-rating-line-bg {
  width: 100px;
  height: 5px;
  background-color: #e5e5e5;
  position: relative;
}

.rating-sanatorium-card .detail-list .detail-rating-line-bg .detail-rating-line {
  position: absolute;
  height: 5px;
  background-color: #f7941e;
  width: 64%;
  top: 0;
  left: 0;
}

.general-rating {
  margin-bottom: 25px;
}

.general-rating .search-result-item__star-rating {
  height: 22px;
  width: 131px;
}

.general-rating span {
  color: #f7941e;
  font-size: 24px;
  margin-right: 10px;
}

.farther {
  font-weight: 300;
  margin-top: 20px;
  display: block;
}

.facilities-sanatorium-card {
  border-left: 1px solid #cdced0;
  width: 30%;
  padding-top: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.facilities-sanatorium-card .farther {
  max-width: 185px;
  width: 100%;
}

.facilities-sanatorium-card ul {
  max-width: 185px;
  width: 100%;
}

.facilities-sanatorium-card .facilities-list {
  margin-top: 20px;
  list-style: disc;
  color: #231f20;
  font-size: 16px;
  font-weight: 300;
  list-style-position: inside;
}

.facilities-sanatorium-card .facilities-list li + li {
  margin-top: 10px;
}

.facilities-sanatorium-card .facilities-icon li {
  display: inline-block;
}

.facilities-sanatorium-card .facilities-icon li img {
  width: 35px;
  height: 35px;
}

.facilities-sanatorium-card .facilities-icon li + li {
  margin-left: 8px;
}

.map-sanatorium-card {
  width: 40%;
  border-left: 1px solid #cdced0;
}

.map-sanatorium-card #map {
  height: 195px;
  width: 80%;
  margin-left: auto;
}

.map-sanatorium-card .farther {
  width: 80%;
  margin-left: auto;
}

.services-icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.prompt {
  padding: 20px 0;
  margin-bottom: 60px;
}

.prompt .icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.prompt .icon img {
  width: 42px;
  height: 41px;
}

.prompt .prompt-info {
  margin-left: 25px;
}

.prompt .prompt-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 7px;
}

.prompt .prompt-desc {
  font-size: 16px;
  font-weight: 300;
}

.prompt.booking {
  background-color: #d7f0db;
}

.prompt.booking .prompt-desc {
  color: #39b54a;
}

.prompt.places {
  background-color: #ffe1e1;
}

.prompt.places .prompt-desc {
  color: #fe6b6b;
}

.room-card {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.room-card + .room-card {
  margin-top: 15px;
}

.how-much-people img + img {
  margin-left: 3px;
}

.room-card > div {
  padding: 0 12px;
}

.description-room {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 34.5%;
  border-left: 1px solid #cdced0;
}

.description-room-wrap .room-title {
  font-weight: 700;
  margin-top: 5px;
}

.description-room-wrap .room-desc {
  color: #231f20;
  font-weight: 300;
  line-height: 16px;
  margin-top: 10px;
}

.facilities-room {
  border-left: 1px solid #cdced0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

.facilities-room ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.facilities-room ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.facilities-room ul li span {
  color: #231f20;
  font-weight: 300;
}

.facilities-room ul li img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.facilities-room ul li + li {
  margin-top: 7px;
}

.reviews-this-room {
  margin-top: 10px;
}

.reviews-this-room-wrap {
  background-color: #39b54a;
  padding: 5px 10px;
  display: inline-block;
  -webkit-border-radius: 14px;
          border-radius: 14px;
}

.reviews-this-room-wrap img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.reviews-this-room-wrap span {
  vertical-align: middle;
  margin-left: 10px;
  color: #ffffff;
}

.photo-room {
  width: 15.5%;
}

.fast-info {
  margin-top: 12px;
}

.fast-info .more-photo img {
  width: 17px;
  height: 16px;
  margin-right: 5px;
}

.fast-info .more-photo span {
  opacity: 0.85;
  font-size: 11px;
  font-weight: 500;
  margin-top: 1px;
}

.price-room {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12%;
  border-left: 1px solid #cdced0;
}

.price-room p + p {
  margin-top: 5px;
}

.booking-room {
  width: 18%;
  border-left: 1px solid #cdced0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking-room .notif {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.booking-room .notif img {
  width: 15px;
  height: 15px;
}

.booking-room .notif p {
  color: #8dc63f;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.63px;
  margin-left: 8px;
}

.charter {
  font-size: 24px;
  font-weight: 500;
}

.tabs-content .about-title {
  font-weight: 700;
}

.tabs-content .about-company-wrap .title-page {
  margin-bottom: 30px;
}

.therapeutic-base-list ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: disc;
  color: #212121;
}

.therapeutic-base-list ul li {
  width: 50%;
  line-height: 28px;
}

.therapeutic-base-list ul li a {
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.therapeutic-base-list ul li a:hover {
  color: #006286;
}

.services-list {
  margin-top: -30px;
}

.services-list .services-info {
  margin-left: 20px;
  max-width: 232px;
  padding-right: 5px;
}

.services-list .services-info span {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.services-list .services-info p {
  font-weight: 300;
  line-height: 18px;
  color: #212121;
}

.services-list ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.services-list ul li {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.services-list ul li img {
  width: 52px;
  height: 52px;
}

.dignity-sanatorium {
  background-color: #f5fafd;
  padding: 35px 45px;
  margin-bottom: 75px;
}

.dignity-sanatorium .dignity-title {
  color: #212121;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}

.dignity-sanatorium-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.dignity-card {
  width: 38.5%;
  padding-right: 5px;
  margin-top: 15px;
}

.dignity-card img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.dignity-card span {
  color: #212121;
  font-size: 16px;
}

.min-dignity-card {
  width: 23%;
}

.reviews-title-wrap .general-rating {
  margin-bottom: 0;
  margin-left: 60px;
}

.reviews-title-wrap .btn {
  margin-left: 75px;
}

.reviews-sanatorium {
  border-bottom: 1px solid #dfe1e1;
  margin-top: 45px;
  overflow: hidden;
}

.reviews-card {
  padding: 30px 0 40px;
  color: #212121;
  border-top: 1px solid #dfe1e1;
  min-height: 196px;
  display: none;
}

.reviews-card.active-show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.profile-reviews-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
}

.profile-reviews-card .profile-name {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}

.profile-reviews-card .photo-profile {
  margin-bottom: 10px;
}

.info-reviews-card {
  width: 85%;
}

.profile-date {
  font-size: 12px;
  font-weight: 300;
}

.info-reviews-card {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.info-reviews-card .general-rating {
  margin-bottom: 0;
}

.info-reviews-card .profile-date {
  margin-left: 15px;
}

.info-reviews-card .reviews-full {
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.info-reviews-card .reviews-full .more-text-review {
  color: #006286;
  text-decoration: underline;
  margin-left: 5px;
}

.big-img-slide {
  margin-top: 35px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.big-img-slide img {
  width: 100%;
}

.additional-slides {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 10px 0 0;
  overflow: hidden;
  height: 67px;
}

.additional-slides a, .additional-slides .video, .additional-slides .fancybox-clear {
  display: inline-block;
  width: 9.1%;
}

.additional-slides .video {
  position: relative;
}

.additional-slides .video .play {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 3px;
  right: 0;
  background-color: rgba(15, 111, 148, 0.5);
}

.additional-slides .video .play img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.additional-slides a {
  position: relative;
}

.additional-slides a .more-photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 3px;
  right: 0;
  background-color: rgba(15, 111, 148, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.additional-slides a .more-photo span {
  margin-top: 7px;
  color: #fff;
  font-size: 13px;
}

.additional-slides a .more-photo img {
  width: 22px;
  height: 22px;
}

.fancybox-image.video-active {
  display: none;
}

.tabs .more-tabs {
  display: none;
  position: relative;
  cursor: pointer;
}

.tabs .more-tabs img {
  width: 20px;
  vertical-align: middle;
}

.tabs .more-tabs span {
  color: #006286;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
}

.tabs .drop-tabs li {
  display: block;
}

.drop-tabs {
  opacity: 0;
  z-index: -1;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  min-width: 200px;
  padding: 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.drop-tabs.active {
  opacity: 1;
  z-index: 1;
  display: block;
}

.popup-review,
.popup-review-thanks {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  max-width: 730px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: -99;
  opacity: 0;
  width: 100%;
  padding: 80px 50px 70px;
  color: #231f20;
}

.popup-review.active,
.popup-review-thanks.active {
  z-index: 999999;
  opacity: 1;
}

.popup-review .title-popup-review,
.popup-review-thanks .title-popup-review {
  font-size: 18px;
}

.popup-review .send-review,
.popup-review-thanks .send-review {
  max-width: 100%;
}

.popup-review .send-review .group,
.popup-review-thanks .send-review .group {
  width: 28%;
}

.popup-review .send-review form,
.popup-review-thanks .send-review form {
  margin-top: 30px;
}

.popup-review .send-review form textarea,
.popup-review-thanks .send-review form textarea {
  margin-top: 35px;
}

.popup-review .send-review .send-review-rating,
.popup-review-thanks .send-review .send-review-rating {
  width: 35%;
}

.popup-review .send-review .send-review-rating .profile-date,
.popup-review-thanks .send-review .send-review-rating .profile-date {
  margin-right: 15px;
}

.popup-review .rating-select img,
.popup-review-thanks .rating-select img {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.popup-review .rating-select img + img,
.popup-review-thanks .rating-select img + img {
  margin-left: 3px;
}

.popup-review .robot,
.popup-review-thanks .robot {
  display: inline-block;
  margin-right: 35px;
}

.popup-review .robot .checkbox,
.popup-review-thanks .robot .checkbox {
  width: auto;
  margin-top: 0;
}

.popup-review .robot .checkbox .checkbox__text,
.popup-review-thanks .robot .checkbox .checkbox__text {
  font-size: 12px;
  padding: 0 0 0 35px;
}

.popup-review .robot .checkbox .checkbox__text::before,
.popup-review-thanks .robot .checkbox .checkbox__text::before {
  top: -6px;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid #d1d3d4;
  font-size: 16px;
}

.popup-review .robot .checkbox input:checked + .checkbox__text:before,
.popup-review-thanks .robot .checkbox input:checked + .checkbox__text:before {
  background: #006286;
  content: '✔';
  border: 1px solid transparent;
}

.popup-review .robot .checkbox input:checked + .checkbox__text,
.popup-review-thanks .robot .checkbox input:checked + .checkbox__text {
  color: inherit;
  font-weight: 300;
}

.popup-review .exit-active-popup,
.popup-review-thanks .exit-active-popup {
  position: absolute;
  opacity: 0;
  z-index: -1;
  display: inline-block;
  top: 15px;
  right: 10px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  cursor: pointer;
}

.popup-review.active .exit-active-popup,
.popup-review-thanks.active .exit-active-popup {
  z-index: 1;
  opacity: 1;
}

.popup-review-thanks {
  text-align: center;
}

.popup-review-thanks .popup-review-thanks-content {
  font-size: 18px;
  line-height: 22px;
}

.general-info-booking {
  width: 61%;
}

.additionally-info-booking {
  width: 37.5%;
}

.booking-form-screen {
  padding-bottom: 125px;
}

.date-select img {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.date-select img.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.booking-card {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 20px;
  color: #808285;
  width: 100%;
}

.booking-card .btn.btn-compilation {
  position: relative;
  padding: 9.5px 15px 9.5px 35px;
}

.booking-card .btn.btn-compilation img {
  position: absolute;
  width: 20px;
  left: 8px;
  top: 47%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.booking-card .notification-card {
  text-align: left;
}

.booking-card .notification-card + .notification-card {
  margin-top: 0;
}

.booking-card .geo-position-sanatorium {
  font-size: 14px;
  font-weight: 300;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 5px;
  color: #808285;
}

.booking-card .geo-position-sanatorium img {
  margin-right: 5px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.booking-card + .booking-card {
  margin-top: 15px;
}

.notification-booking-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  margin-top: 20px;
}

.notification-booking-card img {
  width: 28px;
  padding: 5px 0;
}

.notification-booking-card p {
  padding: 5px 0;
  margin-left: 30px;
  font-weight: 300;
}

.notification-booking-card.green {
  background-color: #d7f0db;
}

.notification-booking-card.green p {
  color: #39b54a;
}

.notification-booking-card.rose {
  background-color: #ffe1e1;
}

.notification-booking-card.rose p {
  color: #fe6b6b;
}

.notification-booking-card + .notification-booking-card {
  margin-top: 5px;
}

.booking-photo-room {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.booking-photo-room img {
  width: 182px;
}

.title-booking-card {
  color: #231f20;
  font-size: 16px;
}

.general-info-booking .title-booking-card {
  font-size: 18px;
}

.booking-info-room {
  margin-left: 25px;
}

.booking-info-room .sanatorium-transfer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 0;
}

.rating-sticker-wrap {
  margin-top: 15px;
}

.rating-sticker-wrap .sticker-card {
  margin-top: 0;
}

.rating-sticker-wrap .rating-sanatoriums {
  margin-top: 5px;
}

.booking-card-desc-text {
  font-weight: 300;
  line-height: 21px;
  margin-top: 7px;
}

.booking-card-desc-text img {
  width: 23px;
  margin-right: 8px;
}

.booking-card-desc-text + .booking-card-desc-text {
  margin-top: 5px;
}

.booking-card-desc-text.flex-cont {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.booking-card-desc-text.flex-cont span {
  margin-top: 2px;
}

.change-selection {
  color: #006286;
  font-weight: 300;
  margin-top: 20px;
  display: inline-block;
}

.change-selection:hover {
  color: #006286;
}

.wrapcard {
  padding-bottom: 30px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.wrapcard + .wrapcard {
  padding-bottom: 0;
  padding-top: 30px;
  border-top: 1px solid #d1d2d4;
}

.wrapcard.price-booking .old-price,
.wrapcard.price-booking .new-price {
  text-align: right;
  width: 29%;
}

.wrapcard.price-booking .new-price {
  margin-top: 8px;
}

.wrapcard.price-booking .sticker-card {
  width: 71%;
}

.booking-card-container {
  width: 100%;
  max-width: 355px;
}

.booking-card-container .btn.btn-compilation {
  margin-top: 20px;
}

.booking-card-container .title-booking-card {
  position: relative;
}

.booking-card-container .title-booking-card img {
  position: absolute;
  width: 20px;
  bottom: 4px;
  left: -32px;
}

.send-info-booking {
  padding-left: 19%;
}

.head-data-info-booking {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.head-data-info-booking .question-form {
  margin-bottom: 3px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.head-data-info-booking .question-form img {
  width: 25px;
}

.head-data-info-booking .question-form .tooltip {
  position: absolute;
  min-width: 350px;
  left: 60px;
  top: -21px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  padding: 15px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-weight: 300;
  line-height: 17px;
  color: #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.head-data-info-booking .question-form .tooltip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 18px solid #fff;
  border-right: 18px solid transparent;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.1);
  top: 25px;
  left: -9px;
}

.head-data-info-booking .question-form:hover .tooltip {
  z-index: 1;
  opacity: 1;
}

.head-data-info-booking .group {
  width: 88%;
  margin-top: 35px;
}

.head-data-info-booking .group input {
  width: 100%;
  background: transparent;
  color: #231f20;
  padding: 10px 10px 7px 5px;
  border-bottom: 1px solid #d7d9da;
}

.head-data-info-booking .group label {
  left: 0;
  color: #939598;
}

.head-data-info-booking .group .bar:before,
.head-data-info-booking .group .bar:after {
  background-color: #006286;
}

.date-booking {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-booking .group {
  width: 40%;
  position: relative;
}

.date-booking .group input {
  padding: 10px 10px 10px 28px;
  font-size: 12px;
}

.date-booking .group + .group {
  margin-left: 27px;
}

.additionally-setting {
  margin-top: 40px;
  height: 20px;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.additionally-setting .additionally-setting-title {
  font-weight: 300;
  color: #006286;
  cursor: pointer;
}

.additionally-setting .additionally-setting-title img {
  width: 20px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.additionally-setting .additionally-setting-title img.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.additionally-setting + .additionally-setting {
  margin-top: 30px;
}

.additionally-setting.active {
  height: auto;
  overflow: visible;
}

.additionally-setting-content {
  margin-top: 25px;
}

.title-set {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.14px;
}

.radio-set {
  margin-top: 20px;
}

.card-set + .card-set {
  margin-top: 35px;
}

.message-booking-send {
  background-color: transparent;
  border: 1px solid #d7d9da;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 10px 13px;
  color: #231f20;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  min-height: 150px;
}

.after-booking-info {
  color: #939598;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  margin-top: 20px;
  width: 88%;
}

.after-booking-info a {
  text-decoration: underline;
}

.after-booking-info.af-btn {
  margin-top: 10px;
}

.material-datepicker {
  top: 130% !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  margin-left: 0 !important;
}

.error-404 {
  height: -webkit-calc(100vh - 190px);
  height: calc(100vh - 190px);
  background-color: #f1f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-404 .container.er-404 {
  max-width: 880px;
}

.error-404 .container.er-404 .info-404 {
  display: none;
}

.error-404 .container.er-404 .error-404-wrap .info-404 {
  display: block;
}

.error-404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.info-404 {
  width: 315px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000000;
  right: 0;
}

.title-404 {
  font-size: 24px;
  line-height: 1em;
}

.description-404 {
  font-size: 18px;
  font-weight: 300;
  line-height: 19px;
  margin-top: 15px;
}

.description-404 a {
  border-bottom: 1px solid #000;
  display: inline-block;
}

.err-img img {
  width: 100%;
}

footer {
  background-color: #006286;
  color: #ffffff;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-wrap {
  min-height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer-nav {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav a {
  margin-left: 15px;
  position: relative;
}

.footer-nav a::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 1px;
  background-color: #fff;
  top: 0;
  left: -9px;
}

.footer-nav a:first-child::before {
  display: none;
}

.rights-company {
  font-size: 10px;
  font-weight: 300;
}

.rights-company a {
  border-bottom: 1px solid #fff;
}

.card-contact-info.phone p {
  white-space: nowrap;
}

.group {
  position: relative;
}

.group input {
  padding: 10px 10px 7px 35px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #939598;
  color: #939598;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.group input:focus {
  outline: none;
}

.group img.icon {
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  bottom: 7px;
}

.group .arr-ic-down {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 20px;
  cursor: pointer;
}

/* LABEL ======================================= */
.group label {
  color: #939598;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  left: 35px;
  top: 10px;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.head-data-filter input:focus ~ label, .head-data-filter input:valid ~ label, .head-data-filter input[type="email"]:not([value=""]) ~ label,
.disease input:focus ~ label,
.disease input:valid ~ label,
.disease input[type="email"]:not([value=""]) ~ label {
  top: -15px;
  font-size: 12px;
  color: #006286;
  left: 0;
}

.group input:focus {
  border-bottom: 1px solid transparent !important;
}

.group input:focus ~ label, .group input:valid ~ label, input[type="email"]:not([value=""]) ~ label {
  top: -15px;
  font-size: 12px;
  color: #006286;
}

.subscription .group input:focus ~ label, .subscription .group input:valid ~ label, .subscription input[type="email"]:not([value=""]) ~ label {
  color: #fff;
}

/* BOTTOM BARS ================================= */
.group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.group .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #006286;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.group .bar:before {
  left: 50%;
}

.group .bar:after {
  right: 50%;
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width: 50%;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.checkbox {
  width: 50%;
  margin-top: 13px;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  color: #231f20;
  font-size: 16px;
  font-weight: 300;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: url("../img/c-default.svg") no-repeat center/cover;
  text-align: center;
  color: #fff;
}

.checkbox input:checked + .checkbox__text:before {
  background: url("../img/c-cheked.svg") no-repeat center/cover;
}

.checkbox input:checked + .checkbox__text {
  color: #006286;
  font-weight: 500;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  display: inline-block;
  color: #231f20;
  font-weight: 300;
}

.radio__text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #757575;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFF;
}

.radio__text:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #006286;
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.radio input:checked + .radio__text:after {
  opacity: 1;
}

.radio input:checked + .radio__text:before {
  border: 2px solid #006286;
}

.radio + .radio {
  margin-left: 14px;
}

.sanatorium-tabs {
  margin: 75px 0 0;
  width: 100%;
  position: relative;
}

.tabs {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: #f1f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60px;
  height: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.tabs li {
  display: inline-block;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.tabs li + li {
  margin-left: 35px;
}

.tabs a {
  color: #808285;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.tabs.active {
  position: fixed;
  max-width: 1070px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99999;
}

.tabgroup {
  margin-top: 45px;
  padding-top: 100px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.fancybox-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 999999;
}

.fancybox-wrap {
  z-index: 9999999;
}

.group .drop-list {
  position: absolute;
  top: 110%;
  padding: 13px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  max-height: 148px;
  overflow-y: scroll;
  z-index: 9;
}

.group .drop-list li {
  padding: 5px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.group .drop-list li a {
  display: block;
}

.group .drop-list li img {
  width: 13px;
}

.group .drop-list li + li {
  margin-top: 5px;
}

.group .drop-list li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.group .drop-list.drop-raiting li {
  padding: 2px 5px;
}

.group.active .drop-list {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.group.raiting {
  overflow: hidden;
  cursor: pointer;
}

.group.raiting .drop-list {
  overflow-y: visible;
}

.group.raiting .drop-list li {
  cursor: pointer;
}

.group.raiting.active {
  overflow: visible;
}

.group {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.group .error {
  position: absolute;
  top: 100%;
  height: 30px;
  color: #bd463a;
  font-size: 11px;
  left: 0;
  width: 100%;
  display: none;
}

.group .error img {
  width: 19px;
}

.group.error-in {
  margin-bottom: 20px;
}

.group.error-in .error {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.group.error-in input {
  border-bottom: 1px solid #bd463a !important;
}

input::-ms-clear {
  display: none;
}
