//Button
.btn {
  color: #ffffff;
  padding: 9.5px 11px;
  text-transform: uppercase;
  letter-spacing: 0.07px;
  position: relative;
  transition: .2s;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;

  &.btn-filter {
    background-color: #0a77ca;
    padding: 9.5px 30px 9.5px 11px;

    svg {
      fill: #fff;
      width: 20px;
      position: absolute;
      right: 6px;
      top: 8px;
      height: 20px;
    }
  }

  &.btn-compilation {
    background-color: #0a77ca;
    padding: 9.5px 15px;
    display: inline-block;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  &.btn-exit {
    padding: 9.5px 19px;
    background-color: #fff;
    color: #0a77ca;
    border: 1px solid #bcbec0;

    &:hover {
      background-color: #0a77ca;
      color: #fff;
      border: 1px solid transparent;
    }
  }

  &.btn-more {
    padding: 9.5px 30px 9.5px 11px;
    background-color: #fff;
    color: #0a77ca;
    border: 1px solid #bcbec0;

    &:hover {
      border: 1px solid transparent;
    }

    svg {
      fill: #41494d;
      width: 20px;
      position: absolute;
      right: 6px;
      top: 8px;
      height: 20px;
      transition: .2s;

      &.active {
        transform: rotate(180deg);
      }
    }

  }

  &.btn-subscription {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 11px 8.5px;

    &:hover {
      box-shadow: none;
      background-color: #fff;
      color: #006286;
    }

    &:focus {
      background-color: #035A72;
      border: 1px solid transparent;
      color: #ffffff;
    }
  }

  &:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
  }
}

// Button END

//Stikers
.sticker-card {
  margin-top: 8px;
  flex-wrap: wrap;

  .sticker {
    display: flex;
    align-items: center;
    min-height: 25px;
    padding: 5px 8px;
    border-radius: 12.5px;
    color: #ffffff;
    font-size: 12px;
    margin-top: 5px;

    &.str-demand {
      background-color: #ef7b0a;
    }

    &.str-profitable-option {
      background-color: #39b54a;
    }

    &.str-burning-price {
      background-color: #fe6b6b;
    }

    &.str-nice-choice {
      background-color: #d1d3d4;
    }
  }
}

//Sticers END

//Header
header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99999;
  border-bottom: 1px solid #bcbec0;
}

.open-mob-nav {
  cursor: pointer;
  display: none;

  span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #757575;

    & + span {
      margin-top: 3px;
    }
  }
}

.header-container {
  width: 100%;
  padding: 0 15px;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 105px;
  position: relative;
  height: 105px;

  &.active_mob {

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: -1px;
      z-index: 9999;
      background-color: rgba(0, 0, 0, .4);
    }
  }
}

.header-logo {
  img {
    width: 130px;
  }
}

.header-nav {
  font-size: 18px;
  font-weight: 300;

  a + a {
    margin-left: 15px;
  }
}

.callback {
  color: #808285;
  font-weight: 700;
  font-size: 12px;

  p {
    font-size: 24px;
    margin-top: 3px;
  }
}

.mob_nav {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  max-width: 371px;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  transition: all .2s linear;
  opacity: 0;
  z-index: 999999999;

  .mob_nav-wrap {
    margin: 0 auto;
    max-width: 192px;

    .header-logo {
      display: flex;
      min-height: 105px;
      height: 105px;
      align-items: center;
    }

    .header-nav {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #bcbec0;
      border-bottom: 1px solid #bcbec0;
      margin-top: 25px;

      a {
        padding: 15px 0;

        & + a {
          margin-left: 0;
          border-top: 1px solid #bcbec0;
        }
      }
    }

    .callback {
      margin-top: 65px;
    }
  }

  .exit-active-mob_nav {
    position: absolute;
    display: inline-block;
    top: 45px;
    left: 18px;
    transition: all .3s linear;
    cursor: pointer;
  }

  &.active {
    left: 0;
    opacity: 1;
    transform: translateX(0);
  }
}

//Header END

//index PAGE-----------------------------------------------------------------
section {
  background-color: #FFFFFF;
}

main {
  margin-top: 105px;
  position: relative;
  flex: 1 0 auto;
  background-color: #f1f2f2;

  &.active {

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      background-color: rgba(0, 0, 0, .4);
    }
  }
  &.active_mob {

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      background-color: rgba(0, 0, 0, .4);
    }
  }
}

.head-screen {
  min-height: 530px;
  background: url("../img/head-screen-bg.png") no-repeat center / cover;
  padding-top: 100px;
}

.head-screen-wrap {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.description-filter {
  color: #fff;

  p {
    font-size: 27px;
    margin-left: 25px;
  }
}

.filters {
  margin-top: 50px;
  background-color: #fff;
  display: flex;
  padding: 25px 25px 40px;
  flex-wrap: wrap;
  position: relative;
  transition: all .2s linear;
  z-index: 99;

  .data-find {
    width: 77%;
  }

  .action-find {
    width: 23%;
    text-align: right;
  }

  .extended-search {
    position: absolute;
    top: 70%;
    width: 100%;
    background-color: #fff;
    left: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: all .3s linear;
    overflow: hidden;
    opacity: 0;
    z-index: -1;

    &.active {
      height: auto;
      opacity: 1;
      z-index: 1;
      top: 100%;
      padding-top: 10px;
      padding-bottom: 85px;
    }
  }

  .exit-active-filter {
    position: absolute;
    opacity: 0;
    z-index: -1;
    display: inline-block;
    top: 15px;
    right: 10px;
    transition: all .3s linear;
    cursor: pointer;
  }

  &.active {
    padding: 40px 25px;

    .exit-active-filter {
      opacity: 1;
      z-index: 1;
    }
  }
}

.head-data-filter,
.additional-data-filter {

  .group {
    width: 27%;

    &:first-child {
      width: 40%;
    }
  }
}

.additional-data-filter {
  margin-top: 45px;
}

.filter-price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .group {
    width: 46px;
    margin-bottom: 4px;

    label {
      left: 0;
    }

    input {
      padding: 7px 0;
    }
  }
}

.group.raiting {

  input:focus ~ label,
  input:valid ~ label {
    top: 10px;
    font-size: 14px;
    color: #939598;
  }

  label {
    left: 0;
  }

  .rat-head {
    position: absolute;
    left: 60px;
    top: 10px;

    img {
      width: 15px;
    }
  }

  input {
    cursor: pointer;
  }
}

.extended-filter {
  cursor: pointer;
  margin-top: 57px;

  span {
    vertical-align: middle;
    font-size: 16px;
    font-weight: 300;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: #006286;
    vertical-align: middle;
  }
}

.extended-wrap {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;

  .facilities {
    margin-top: 45px;
  }

  .title {
    color: #231f20;
    font-size: 18px;
    font-weight: 700;
  }
}

.choice {
  flex-wrap: wrap;
  margin-top: 10px;
}

.preliminary-search-val {
  color: #231f20;
  font-size: 16px;
  font-weight: 300;
}

.preliminary-search {
  margin-top: 65px;
}

.go-to-search {

  .btn + .btn {
    margin-left: 24px;
  }
}

//advantages-screen
.advantages-screen {
  .container {
    display: flex;
    flex-direction: row;
  }
}

.advantages-wrap {
  min-height: 135px;
  width: 100%;
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #231f20;
  font-weight: 500;
  font-size: 18px;

  img {
    width: 33px;
    height: 33px;
    margin-right: 25px;
  }
}

//resort-towns
.resort-towns-screen,
.popular-sanatoriums-screen {
  padding-top: 60px;
}

.resort-towns-wrap {
  flex-wrap: wrap;
  margin-top: 40px;

  .town {
    width: 16%;
    height: 175px;
    position: relative;
    display: none;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 10px;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      top: 0;
      height: 100%;
    }

    .town-info {
      position: relative;
      width: 100%;
      background-color: rgba(15, 111, 148, 0.91);
      color: #ffffff;
      padding: 10px 10px 0;
      min-height: 65px;

      span {
        font-size: 16px;
      }

      p {
        font-weight: 300;
      }
    }

    &.flex {
      display: flex;
    }
  }

  .town-clear {
    width: 16%;
  }

  &.active {
    overflow: visible;
    height: auto !important;
  }
}

.more {
  margin-top: 25px;
  text-align: center;

  &.hide {
    display: none;
  }
}

.search-result-item__star-rating {
  width: 98px;
  height: 16px;
  background: url('../img/no-star.svg');
  -webkit-background-size: contain;
  background-size: contain;
}

.search-result-item__star {
  width: 40%;
  height: 100%;
  background: url('../img/ok-star.svg');
  -webkit-background-size: contain;
  background-size: contain;
}

.rating-sanatoriums {
  margin-top: 18px;

  span {
    font-weight: 300;
    color: #212121;
    margin-right: 10px;
  }
}

//popular-sanatoriums-screen
.popular-sanatoriums-screen {
  padding-bottom: 100px;
}

.popular-sanatoriums-wrap {
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 10px 15px;
  overflow: hidden;

  &.head-s-popular {
    height: 1020px;
  }

  &.canegories-p {
    height: 2035px;
  }

  &.categories-card-p {
    height: 535px;
  }

  &.active {
    height: auto !important;
    overflow: visible;
  }
}

.sanatorium-card-clear {
  width: 24%;
  margin-top: 15px;
}

.sanatorium-card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  overflow: hidden;
  width: 24%;
  position: relative;
  margin-top: 15px;
  transition: all .2s linear;
  display: none;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .card-head-info-wrap {
    height: 190px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 100%;
    }

    .card-head-info {
      position: relative;
      width: 100%;
      background-color: rgba(15, 111, 148, 0.91);
      color: #ffffff;
      padding: 13px 10px;
      min-height: 50px;
      font-size: 16px;
    }
  }

  &.active-show {
    display: block;
  }
}

.card-content {
  padding: 10px 15px 25px;

  .sanatorium-card-title {
    color: #212121;
    font-weight: 300;
  }

  .page-visitors-card {
    color: #808285;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 12px;
  }

  .btn.btn-filter {
    display: inline-block;
    margin-top: 17px;
    font-size: 13px;

    &:hover {
      color: #ffffff;
    }
  }
}

.reed-reviews-card {
  font-weight: 300;
  margin-top: 17px;
  display: inline-block;
}

.price-card {
  margin-top: 20px;
}

.old-price {
  color: #808285;
  font-weight: 300;
  text-decoration: line-through;
}

.new-price {
  color: #212121;
  font-weight: 300;

  span {
    color: #fe0603;
    font-weight: 700;
    font-size: 16px;
  }
}

.notification-card {
  color: #39b54a;
  font-family: 'Myriad Pro', sans-serif;
  text-align: center;
  margin-top: 13px;
}

//advantages-booking-screen
.advantages-booking-screen {
  padding: 55px 0 70px;
  background-color: #006286;

  .title-screen {
    color: #ffffff;
    text-align: center;
  }
}

.advantages-booking-wrap {
  flex-wrap: wrap;
  margin-top: 40px;

  .card {
    height: 195px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    background-color: #fafafa;
    width: 208px;
    padding: 30px 36px 0;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;

    .icon-card img {
      width: 70px;
      height: 48px;
    }

    .title-card {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.8px;
    }

    .desc-card {
      font-weight: 300;
    }
  }
}

//how-we-working-screen
.how-we-working-screen {
  padding: 100px 0 10px;

  .title-screen {
    text-align: center;
  }
}

.how-we-working-wrap {
  max-width: 1050px;
  padding: 0 15px;
  margin: 55px auto 0;
  width: 100%;
}

.work-card {
  width: 18%;
  text-align: center;
  position: relative;

  .work-card-icon {
    margin-bottom: 15px;

    img {
      height: 56px;
      width: 56px;
    }
  }

  .work-card-desc {
    color: #231f20;
    font-weight: 300;
  }

  .arr-next {
    position: absolute;
    top: 15px;
    left: 75%;
    height: 25px;
    width: 116px;
    fill: #006286;
  }
}

//support-service-screen
.support-service-screen {
  padding: 100px 0;

  .support-service-wrap {
    max-width: 865px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    padding: 38px 20px;
  }
}

.support-content {
  flex-direction: column;
  margin-left: 30px;
}

.title-support,
.phone-num-support {
  font-size: 36px;
}

.sect-support {
  color: #212121;
  font-size: 16px;
  font-weight: 300;
}

//info-company-screen
.info-company-screen {
  background-color: #f1f2f2;
  padding: 50px 0 60px;
}

.info-company-wrap {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.subscription {
  width: 100%;
  max-width: 430px;
  color: #ffffff;

  .subscription-wrap {
    padding: 35px 20px 65px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    background-color: #006286;
  }

  .subscription-title {
    font-size: 24px;
  }

  .subscription-desc {
    font-weight: 300;
    margin-top: 5px;
  }

  form {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .group {

      input {
        max-width: 195px;
        background: transparent;
        color: #ffffff;
        border-bottom: 1px solid #fff;
        padding: 10px 10px 7px 5px;
      }

      label {
        color: #ffffff;
        left: 0;
      }

      & .bar:before,
      .bar:after {
        background-color: #fff;
      }
    }
  }
}

.card-contact {
  color: #231f20;

  & + .card-contact {
    margin-top: 40px;
  }
}

.card-contact-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  img {
    width: 22px;
    height: 22px;
    fill: #006286;
    margin-right: 20px;
  }
}

.card-contact-info {
  max-width: 122px;
  width: 100%;
  margin-left: auto;
  text-align: right;
  font-weight: 300;
  border-top: 1px solid #8a8989;
  margin-top: 10px;
  padding-top: 20px;

  p + p {
    margin-top: 5px;
  }

  &.phone {
    color: #006286;
  }

  &.address {
    text-align: left;
  }
}

.send-mail,
.send-review {
  max-width: 315px;
  width: 100%;

  form {
    margin-top: 45px;

    textarea {
      background-color: transparent;
      border: 1px solid #d7d9da;
      border-radius: 2px;
      padding: 10px 13px;
      color: #231f20;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      margin-top: 18px;
      min-height: 150px;

      &::placeholder {
        color: #939598;
      }
    }
  }

  .group {
    width: 48%;

    input {
      width: 100%;
      background: transparent;
      color: #231f20;
      padding: 10px 10px 7px 5px;
      border-bottom: 1px solid #d7d9da;
    }

    label {
      left: 0;
      color: #939598;
    }

    & .bar:before,
    .bar:after {
      background-color: #006286;
    }
  }

  .send-mail-form {
    text-align: right;
    margin-top: 15px;
  }
}

.send-mail-title {
  color: #231f20;
  text-transform: uppercase;
}

//Index END-----------------------------------------------------------------

//Categories PAGE-----------------------------------------------------------
.title-page {
  color: #231f20;
  font-size: 36px;
}

//search-screen
.search-screen {
  background-color: #8cb8c9;
  color: #ffffff;

  .search-screen-wrap {
    min-height: 35px;
    height: 35px;
  }

  .title-search {
    font-size: 12px;
    font-weight: 300;
  }

  .group {
    min-width: 300px;
    margin-left: 80px;

    input {
      background-color: transparent;
      padding: 5px 10px 4px 0;
      color: #ffffff;
      font-size: 12px;
      border-bottom: 1px solid transparent;

      &::placeholder {
        color: #ffffff;
      }
    }

    .search-go {
      left: -30px;
      bottom: -4px;
      position: absolute;
      display: inline-block;
      transition: all .2s linear;

      &.active {
        left: 102%;
        height: 30px;
        width: 30px;
      }
    }

    img.icon {
      position: static;
    }
  }
}

//web-nav-screen
.web-nav-screen {
  padding: 20px 0;
  color: #006286;
  font-weight: 300;

  ul {

    li {
      display: inline-block;
      position: relative;

      &::before {
        content: '>';
        position: absolute;
        right: -12px;
        top: 1px;
        color: #808285;
      }

      &:last-child::before {
        display: none;
      }

      & + li {
        margin-left: 12px;
      }

      &.active {
        color: #808285;
      }
    }
  }
}

//Categories END------------------------------------------------------------

//Question Answer/Payment PAGE----------------------------------------------
.about-company-screen {
  padding: 60px 0 100px;
}

.about-company-wrap {
  width: 100%;
  padding: 0 15px;
  max-width: 860px;
  margin: 0 auto;
  color: #231f20;
}

.about-card {
  font-size: 18px;
  line-height: 32px;
  color: #231f20;

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

    a {
      color: #006286;
    }

    & + p {
      margin-top: 25px;
    }
  }

  & + .about-card {
    margin-top: 35px;
  }
}

//Question Answer/Payment END----------------------------------------------

//Contacts PAGE------------------------------------------------------------
.contacts-page .web-nav-screen {
  background-color: #f1f2f2;
}

.contacts-page {
  background-color: #f1f2f2;

  .info-company-screen {
    padding: 130px 0 100px;
  }

  .send-mail {
    max-width: 100%;

    .send-mail-form {
      width: 56%;
      margin-top: 0;

      textarea {
        margin-top: 0;
      }

      .btn {
        margin-top: 20px;
      }
    }

    form {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .name-and-surname {
      flex-direction: column;
      width: 42%;
      padding-bottom: 70px;

      .group {
        width: 100%;

        & + .group {
          margin-top: 35px;
        }
      }
    }
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .card-contact + .card-contact,
    .card-contact {
      margin: 0;
    }
  }

  .about-company-wrap {
    flex-direction: column;
  }

  .send-mail {
    margin-top: 85px;
  }

  .card-contact-title img {
    top: -33px;
    position: absolute;
    left: 0;
  }

  .card-contact-title {
    position: relative;
  }
}

//Contacts END-------------------------------------------------------------

//Categories Card PAGE-----------------------------------------------------
.card-sanatorium-screen,
.booking-form-screen {
  padding-top: 70px;
}

.card-sanatorium-wrap,
.booking-form-wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.sanatorium-title {
  color: #231f20;
  font-size: 24px;

  img {
    width: 28px;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}

.like-icon {
  margin-left: 12px;
  display: flex;

  img {
    width: 28px;
    height: 28px;
  }
}

.head-sanatorium-card-info {
  flex-wrap: wrap;

  .show-price {
    margin-left: auto;
  }
}

.geo-position-sanatorium {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #212121;
  font-weight: 300;
  margin-top: 10px;

  a {
    color: #006286;

  }

  img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    flex-shrink: 0;
  }
}

.sanatorium-transfer-wrap {
  min-height: 28px;
  height: 28px;
  color: #231f20;
  background-color: #f1f2f2;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 28px;

  span {
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
  }

  img {
    width: 18px;
    height: 18px;
  }
}

.tabs-content {
  margin-top: 10px;
  padding-bottom: 45px;
}

.rating-sanatorium-card {
  padding-top: 7px;
  width: 30%;

  .detail-list {
    color: #231f20;
    font-size: 16px;
    font-weight: 300;

    li {
      display: flex;
      align-items: center;

      & + li {
        margin-top: 10px;
      }

      span {
        display: inline-block;
        min-width: 65px;
        margin-right: 13px;
      }

      p {
        margin-left: 10px;
      }
    }

    .detail-rating-line-bg {
      width: 100px;
      height: 5px;
      background-color: #e5e5e5;
      position: relative;

      .detail-rating-line {
        position: absolute;
        height: 5px;
        background-color: #f7941e;
        width: 64%;
        top: 0;
        left: 0;
      }
    }
  }
}

.general-rating {
  margin-bottom: 25px;

  .search-result-item__star-rating {
    height: 22px;
    width: 131px;
  }

  span {
    color: #f7941e;
    font-size: 24px;
    margin-right: 10px;
  }
}

.farther {
  font-weight: 300;
  margin-top: 20px;
  display: block;
}

.facilities-sanatorium-card {
  border-left: 1px solid #cdced0;
  width: 30%;
  padding-top: 7px;
  flex-direction: column;
  align-items: center;

  .farther {
    max-width: 185px;
    width: 100%;
  }

  ul {
    max-width: 185px;
    width: 100%;
  }

  .facilities-list {
    margin-top: 20px;
    list-style: disc;
    color: #231f20;
    font-size: 16px;
    font-weight: 300;
    list-style-position: inside;

    li + li {
      margin-top: 10px;
    }
  }

  .facilities-icon {

    li {
      display: inline-block;

      img {
        width: 35px;
        height: 35px;
      }

      & + li {
        margin-left: 8px;
      }
    }
  }
}

.map-sanatorium-card {
  width: 40%;
  border-left: 1px solid #cdced0;

  #map {
    height: 195px;
    width: 80%;
    margin-left: auto;
  }

  .farther {
    width: 80%;
    margin-left: auto;
  }
}

.services-icon {
  flex-shrink: 0;
}

.prompt {
  padding: 20px 0;
  margin-bottom: 60px;

  .icon {
    flex-shrink: 0;

    img {
      width: 42px;
      height: 41px;
    }
  }

  .prompt-info {
    margin-left: 25px;
  }

  .prompt-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 7px;
  }

  .prompt-desc {
    font-size: 16px;
    font-weight: 300;
  }

  &.booking {
    background-color: #d7f0db;

    .prompt-desc {
      color: #39b54a;
    }
  }
  &.places {
    background-color: #ffe1e1;

    .prompt-desc {
      color: #fe6b6b;
    }
  }
}

.room-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  display: flex;
  padding: 15px 0;
  border-radius: 2px;

  & + .room-card {
    margin-top: 15px;
  }
}

.how-much-people {

  img + img {
    margin-left: 3px;
  }
}

.room-card > div {
  padding: 0 12px;
}

.description-room {
  flex-direction: column;
  width: 34.5%;
  border-left: 1px solid #cdced0;
}

.description-room-wrap {

  .room-title {
    font-weight: 700;
    margin-top: 5px;
  }

  .room-desc {
    color: #231f20;
    font-weight: 300;
    line-height: 16px;
    margin-top: 10px;
  }
}

.facilities-room {
  border-left: 1px solid #cdced0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;

  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;

      span {
        color: #231f20;
        font-weight: 300;
      }

      img {
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }

      & + li {
        margin-top: 7px;
      }
    }
  }
}

.reviews-this-room {
  margin-top: 10px;
}

.reviews-this-room-wrap {
  background-color: #39b54a;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 14px;

  img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
    margin-left: 10px;
    color: #ffffff;
  }
}

.photo-room {
  width: 15.5%;
}

.fast-info {
  margin-top: 12px;

  .more-photo {
    img {
      width: 17px;
      height: 16px;
      margin-right: 5px;
    }

    span {
      opacity: 0.85;
      font-size: 11px;
      font-weight: 500;
      margin-top: 1px;
    }
  }
}

.price-room {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 12%;
  border-left: 1px solid #cdced0;

  p + p {
    margin-top: 5px;
  }
}

.booking-room {
  width: 18%;
  border-left: 1px solid #cdced0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .notif {
    display: flex;
    margin-bottom: 20px;

    img {
      width: 15px;
      height: 15px;
    }

    p {
      color: #8dc63f;
      font-size: 12px;
      font-weight: 300;
      line-height: 16.63px;
      margin-left: 8px;
    }
  }
}

.charter {
  font-size: 24px;
  font-weight: 500;
}

.tabs-content .about-title {
  font-weight: 700;
}

.tabs-content .about-company-wrap .title-page {
  margin-bottom: 30px;
}

.therapeutic-base-list {

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: disc;
    color: #212121;

    li {
      width: 50%;
      line-height: 28px;

      a {
        font-weight: 300;
        font-size: 16px;
        transition: all .2s linear;

        &:hover {
          color: #006286;
        }
      }
    }
  }
}

.services-list {
  margin-top: -30px;

  .services-info {
    margin-left: 20px;
    max-width: 232px;
    padding-right: 5px;

    span {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
    }

    p {
      font-weight: 300;
      line-height: 18px;
      color: #212121;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      display: flex;
      margin-top: 30px;

      img {
        width: 52px;
        height: 52px;
      }
    }
  }
}

.dignity-sanatorium {
  background-color: #f5fafd;
  padding: 35px 45px;
  margin-bottom: 75px;

  .dignity-title {
    color: #212121;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

.dignity-sanatorium-wrap {
  flex-wrap: wrap;
}

.dignity-card {
  width: 38.5%;
  padding-right: 5px;
  margin-top: 15px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    flex-shrink: 0;
  }

  span {
    color: #212121;
    font-size: 16px;
  }
}

.min-dignity-card {
  width: 23%;
}

.reviews-title-wrap {

  .general-rating {
    margin-bottom: 0;
    margin-left: 60px;
  }

  .btn {
    margin-left: 75px;
  }
}

.reviews-sanatorium {
  border-bottom: 1px solid #dfe1e1;
  margin-top: 45px;
  overflow: hidden;
}

.reviews-card {
  padding: 30px 0 40px;
  color: #212121;
  border-top: 1px solid #dfe1e1;
  min-height: 196px;
  display: none;

  &.active-show {
    display: flex;
  }
}

.profile-reviews-card {
  flex-direction: column;
  width: 15%;

  .profile-name {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .photo-profile {
    margin-bottom: 10px;
  }
}

.info-reviews-card {
  width: 85%;
}

.profile-date {
  font-size: 12px;
  font-weight: 300;
}

.info-reviews-card {
  flex-wrap: wrap;

  .general-rating {
    margin-bottom: 0;
  }

  .profile-date {
    margin-left: 15px;
  }

  .reviews-full {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;

    .more-text-review {
      color: #006286;
      text-decoration: underline;
      margin-left: 5px;
    }
  }
}

.big-img-slide {
  margin-top: 35px;
  transition: all .2s linear;

  img {
    width: 100%;
  }
}

.additional-slides {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0 0;
  overflow: hidden;
  height: 67px;

  a, .video, .fancybox-clear {
    display: inline-block;
    width: 9.1%;
  }

  .video {
    position: relative;

    .play {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 3px;
      right: 0;
      background-color: rgba(15, 111, 148, 0.5);

      img {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }
  }

  a {
    position: relative;

    .more-photo {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 3px;
      right: 0;
      background-color: rgba(15, 111, 148, 0.5);
      flex-direction: column;

      span {
        margin-top: 7px;
        color: #fff;
        font-size: 13px;
      }

      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.fancybox-image.video-active {
  display: none;
}

.tabs .more-tabs {
  display: none;
  position: relative;
  cursor: pointer;

  img {
    width: 20px;
    vertical-align: middle;
  }

  span {
    color: #006286;
    font-size: 16px;
    font-weight: 300;
    vertical-align: middle;
  }
}

.tabs .drop-tabs li {
  display: block;
}

.drop-tabs {
  opacity: 0;
  z-index: -1;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  min-width: 200px;
  padding: 10px;
  border-radius: 10px;
}

  .drop-tabs.active {
    opacity: 1;
    z-index: 1;
    display: block;
  }

//popup-review
.popup-review,
.popup-review-thanks {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  max-width: 730px;
  transition: all .2s linear;
  z-index: -99;
  opacity: 0;
  width: 100%;
  padding: 80px 50px 70px;
  color: #231f20;

  &.active {
    z-index: 999999;
    opacity: 1;
  }

  .title-popup-review {
    font-size: 18px;
  }

  .send-review {
    max-width: 100%;

    .group {
      width: 28%;
    }

    form {
      margin-top: 30px;

      textarea {
        margin-top: 35px;
      }
    }

    .send-review-rating {
      width: 35%;

      .profile-date {
        margin-right: 15px;
      }
    }
  }

  .rating-select {

    img {
      width: 17px;
      height: 17px;
      cursor: pointer;

      & + img {
        margin-left: 3px;
      }
    }
  }

  .robot {
    display: inline-block;
    margin-right: 35px;

    .checkbox {
      width: auto;
      margin-top: 0;

      .checkbox__text {
        font-size: 12px;
        padding: 0 0 0 35px;

        &::before {
          top: -6px;
          width: 25px;
          height: 25px;
          background: transparent;
          border: 1px solid #d1d3d4;
          font-size: 16px;
        }
      }

      & input:checked + .checkbox__text:before {
        background: #006286;
        content: '✔';
        border: 1px solid transparent;
      }

      & input:checked + .checkbox__text {
        color: inherit;
        font-weight: 300;
      }
    }
  }

  .exit-active-popup {
    position: absolute;
    opacity: 0;
    z-index: -1;
    display: inline-block;
    top: 15px;
    right: 10px;
    transition: all .3s linear;
    cursor: pointer;
  }

  &.active .exit-active-popup {
    z-index: 1;
    opacity: 1;
  }
}

.popup-review-thanks {
  text-align: center;

  .popup-review-thanks-content {
    font-size: 18px;
    line-height: 22px;
  }
}

//Categories Card END------------------------------------------------------

//Booking Form PAGE--------------------------------------------------------
.general-info-booking {
  width: 61%;
}

.additionally-info-booking {
  width: 37.5%;
}

.booking-form-screen {
  padding-bottom: 125px;
}

.date-select {

  img {
    transition: all .2s linear;

    &.active {
      transform: rotate(180deg);
    }
  }
}

.booking-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  border-radius: 2px;
  padding: 20px;
  color: #808285;
  width: 100%;

  .btn.btn-compilation {
    position: relative;
    padding: 9.5px 15px 9.5px 35px;

    img {
      position: absolute;
      width: 20px;
      left: 8px;
      top: 47%;
      transform: translateY(-50%);
    }
  }

  .notification-card {
    text-align: left;

    & + .notification-card {
      margin-top: 0;
    }
  }

  .geo-position-sanatorium {
    font-size: 14px;
    font-weight: 300;
    align-items: flex-end;
    margin-top: 5px;
    color: #808285;

    img {
      margin-right: 5px;
      flex-shrink: 0;
    }
  }

  & + .booking-card {
    margin-top: 15px;
  }
}

.notification-booking-card {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-top: 20px;

  img {
    width: 28px;
    padding: 5px 0;
  }

  p {
    padding: 5px 0;
    margin-left: 30px;
    font-weight: 300;
  }

  &.green {
    background-color: #d7f0db;

    p {
      color: #39b54a;
    }
  }
  &.rose {
    background-color: #ffe1e1;

    p {
      color: #fe6b6b;
    }
  }

  & + .notification-booking-card {
    margin-top: 5px;
  }
}

.booking-photo-room {
  flex-shrink: 0;

  img {
    width: 182px;
  }
}

.title-booking-card {
  color: #231f20;
  font-size: 16px;
}

.general-info-booking {

  .title-booking-card {
    font-size: 18px;
  }
}

.booking-info-room {
  margin-left: 25px;

  .sanatorium-transfer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.rating-sticker-wrap {
  margin-top: 15px;

  .sticker-card {
    margin-top: 0;
  }

  .rating-sanatoriums {
    margin-top: 5px;
  }
}

.booking-card-desc-text {
  font-weight: 300;
  line-height: 21px;
  margin-top: 7px;

  img {
    width: 23px;
    margin-right: 8px;
  }

  & + .booking-card-desc-text {
    margin-top: 5px;
  }

  &.flex-cont {
    align-items: flex-start;

    span {
      margin-top: 2px;
    }
  }
}

.change-selection {
  color: #006286;
  font-weight: 300;
  margin-top: 20px;
  display: inline-block;

  &:hover {
    color: #006286;
  }
}

.wrapcard {
  padding-bottom: 30px;
  flex-wrap: wrap;

  & + .wrapcard {
    padding-bottom: 0;
    padding-top: 30px;
    border-top: 1px solid #d1d2d4;
  }

  &.price-booking {

    .old-price,
    .new-price {
      text-align: right;
      width: 29%;
    }

    .new-price {
      margin-top: 8px;
    }

    .sticker-card {
      width: 71%;
    }
  }
}

.booking-card-container {
  width: 100%;
  max-width: 355px;

  .btn.btn-compilation {
    margin-top: 20px;
  }

  .title-booking-card {
    position: relative;

    img {
      position: absolute;
      width: 20px;
      bottom: 4px;
      left: -32px;
    }
  }
}

.send-info-booking {
  padding-left: 19%;
}

.head-data-info-booking {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .question-form {
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
    position: relative;

    img {
      width: 25px;
    }

    .tooltip {
      position: absolute;
      min-width: 350px;
      left: 60px;
      top: -21px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      background-color: #fff;
      padding: 15px;
      z-index: -1;
      opacity: 0;
      transition: all .2s linear;
      font-weight: 300;
      line-height: 17px;
      color: #000;
      border-radius: 4px;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 18px solid #fff;
        border-right: 18px solid transparent;
        transform: rotate(-45deg);
        box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.1);
        top: 25px;
        left: -9px;
      }
    }

    &:hover {

      .tooltip {
        z-index: 1;
        opacity: 1;
      }
    }
  }

  .group {
    width: 88%;
    margin-top: 35px;

    input {
      width: 100%;
      background: transparent;
      color: #231f20;
      padding: 10px 10px 7px 5px;
      border-bottom: 1px solid #d7d9da;
    }

    label {
      left: 0;
      color: #939598;
    }

    & .bar:before,
    .bar:after {
      background-color: #006286;
    }
  }
}

.date-booking {
  display: flex;
  margin-top: 40px;
  align-items: center;

  .group {
    width: 40%;
    position: relative;

    input {
      padding: 10px 10px 10px 28px;
      font-size: 12px;
    }

    & + .group {
      margin-left: 27px;
    }
  }
}

.additionally-setting {
  margin-top: 40px;
  height: 20px;
  overflow: hidden;
  transition: all .2s linear;

  .additionally-setting-title {
    font-weight: 300;
    color: #006286;
    cursor: pointer;

    img {
      width: 20px;
      transition: all .2s linear;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  & + .additionally-setting {
    margin-top: 30px;
  }

  &.active {
    height: auto;
    overflow: visible;
  }
}

.additionally-setting-content {
  margin-top: 25px;
}

.title-set {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.14px;
}

.radio-set {
  margin-top: 20px;
}

.card-set + .card-set {
  margin-top: 35px;
}

.message-booking-send {
  background-color: transparent;
  border: 1px solid #d7d9da;
  border-radius: 2px;
  padding: 10px 13px;
  color: #231f20;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  min-height: 150px;
}

.after-booking-info {
  color: #939598;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  margin-top: 20px;
  width: 88%;

  a {
    text-decoration: underline;
  }

  &.af-btn {
    margin-top: 10px;
  }
}

.material-datepicker {
  top: 130% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-left: 0 !important;
}

//Booking Form END---------------------------------------------------------

//404 page ----------------------------------------------------------------
.error-404 {
  height: calc(100vh - 190px);
  background-color: #f1f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container.er-404 {
    max-width: 880px;

    .info-404 {
      display: none;
    }

    .error-404-wrap {

      .info-404 {
        display: block;
      }
    }
  }
}

.error-404-wrap {
  display: flex;
  position: relative;
}

.info-404 {
  width: 315px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  right: 0;
}

.title-404 {
  font-size: 24px;
  line-height: 1em;
}

.description-404 {
  font-size: 18px;
  font-weight: 300;
  line-height: 19px;
  margin-top: 15px;

  a {
    border-bottom: 1px solid #000;
    display: inline-block;
  }
}

.err-img img {
  width: 100%;
}

//404 page END-------------------------------------------------------------

//Footer
footer {
  background-color: #006286;
  color: #ffffff;
  flex: 0 0 auto;

  .container {
    display: flex;
    flex-direction: row;
  }
}

.footer-wrap {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.footer-nav {
  margin-bottom: 22px;
  display: flex;

  a {
    margin-left: 15px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 15px;
      width: 1px;
      background-color: #fff;
      top: 0;
      left: -9px;
    }

    &:first-child::before {
      display: none;
    }
  }
}

.rights-company {
  font-size: 10px;
  font-weight: 300;

  a {
    border-bottom: 1px solid #fff;
  }
}


.card-contact-info.phone p {
  white-space: nowrap;
}





