// Custom input

.group {
  position: relative;
}

.group input {
  padding: 10px 10px 7px 35px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #939598;
  color: #939598;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  transition: all .2s linear;
}

.group input:focus {
  outline: none;
}

.group img.icon {
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  bottom: 7px;
}

.group .arr-ic-down {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 20px;
  cursor: pointer;
}

/* LABEL ======================================= */
.group label {
  color: #939598;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
  left: 35px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */

.head-data-filter,
.disease {
  input:focus ~ label, input:valid ~ label, input[type="email"]:not([value=""]) ~ label {
    top: -15px;
    font-size: 12px;
    color: #006286;
    left: 0;
  }
}

.group input:focus {
  border-bottom: 1px solid transparent !important;
}

.group input:focus ~ label, .group input:valid ~ label, input[type="email"]:not([value=""]) ~ label {
  top: -15px;
  font-size: 12px;
  color: #006286;
}

.subscription {
  .group input:focus ~ label, .group input:valid ~ label, input[type="email"]:not([value=""]) ~ label {
    color: #fff;
  }
}

/* BOTTOM BARS ================================= */
.group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.group .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #006286;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.group .bar:before {
  left: 50%;
}

.group .bar:after {
  right: 50%;
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width: 50%;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

// Custom input END

//Custom CheckBox

.checkbox {
  width: 50%;
  margin-top: 13px;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  color: #231f20;
  font-size: 16px;
  font-weight: 300;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  transition: .2s;
  background: url("../img/c-default.svg") no-repeat center / cover;
  text-align: center;
  color: #fff;
}

.checkbox input:checked + .checkbox__text:before {
  background: url("../img/c-cheked.svg") no-repeat center / cover;
}

.checkbox input:checked + .checkbox__text {
  color: #006286;
  font-weight: 500;
}

//Custom CheckBox END

//Custom Radio
.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  display: inline-block;
  color: #231f20;
  font-weight: 300;
}

.radio__text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #757575;
  border-radius: 50%;
  background: #FFF;
}

.radio__text:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #006286;
  opacity: 0;
  transition: .2s;
}

.radio input:checked + .radio__text:after {
  opacity: 1;
}

.radio input:checked + .radio__text:before {
  border: 2px solid #006286;
}

.radio + .radio {
  margin-left: 14px;
}

//Custom Radio End

//Tabs Card
.sanatorium-tabs {
  margin: 75px 0 0;
  width: 100%;
  position: relative;
}

.tabs {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  background-color: #f1f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  height: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  li {
    display: inline-block;
    transition: all .2s linear;

    & + li {
      margin-left: 35px;
    }
  }

  a {
    color: #808285;
    font-size: 16px;
    font-weight: 300;
    transition: all .2s linear;
  }

  &.active {
    position: fixed;
    max-width: 1070px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
  }
}

.tabgroup {
  margin-top: 45px;
  padding-top: 100px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//Tabs Card END

//Slider
.fancybox-overlay {
  background: rgba(0, 0, 0, .4);
  z-index: 999999;
}

.fancybox-wrap {
  z-index: 9999999;
}

//DROP-FIND-LIST
.group {

  .drop-list {
    position: absolute;
    top: 110%;
    padding: 13px;
    border-radius: 3px;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    transition: all .2s linear;
    max-height: 148px;
    overflow-y: scroll;
    z-index: 9;

    li {
      padding: 5px;
      transition: all .2s linear;

      a {
        display: block;
      }

      img {
        width: 13px;
      }

      & + li {
        margin-top: 5px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }
    }

    &.drop-raiting {
      li {
        padding: 2px 5px;
      }
    }
  }

  &.active {

    .drop-list {
      display: block;
      box-shadow: none;
    }
  }

  &.raiting {
    overflow: hidden;
    cursor: pointer;

    .drop-list {
      overflow-y: visible;

      li {
        cursor: pointer;
      }
    }

    &.active {
      overflow: visible;
    }
  }

}

.group {
  transition: all .2s linear;

  .error {
    position: absolute;
    top: 100%;
    height: 30px;
    color: #bd463a;
    font-size: 11px;
    left: 0;
    width: 100%;
    display: none;

    img {
      width: 19px;
    }
  }

  &.error-in {
    margin-bottom: 20px;

    .error {
      display: flex;
    }

    input {
      border-bottom: 1px solid #bd463a !important;
    }
  }
}

input::-ms-clear {
  display: none;
}