.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.flex-cont {
  display: flex;
  flex-wrap: nowrap;
}

.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}

.flex-d-column-rev {
  flex-direction: column-reverse;
}

.justify-c {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.default-section {
  padding: 55px 0 65px;
}

.title-screen {
  font-size: 36px;
}