@media (max-width: 1250px) {

  //Index Page----------------------------------------------
  .resort-towns-wrap .town,
  .resort-towns-wrap .town-clear {
    width: 19%;
  }

  .sanatorium-card,
  .sanatorium-card-clear {
    width: 32.5%;
  }

  .info-company-wrap {
    max-width: 765px;
    flex-direction: column;
  }

  .subscription {
    max-width: 100%;

    .subscription-wrap {
      padding: 35px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .subscription form {
    margin-top: 0;

    .btn-subscription {
      margin-left: 25px;
    }
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .card-contact + .card-contact {
    margin-top: 0;
  }

  .card-contact-info.address {
    max-width: 102px;
  }

  .send-mail {
    max-width: 100%;
    margin-top: 60px;

    .group {
      width: 100%;

      & + .group {
        margin-top: 25px;
      }
    }

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 30px;

      textarea {
        width: 60%;
        margin-top: 0;
      }

      .name-and-surname {
        flex-direction: column;
        width: 37%;
        padding-bottom: 25px;
      }

      .send-mail-form {
        width: 100%;
      }
    }
  }

  .contacts-page .send-mail form textarea {
    width: 100%;
  }
  //Index Page END----------------------------------------------
}

@media (max-width: 1025px) {

  //404 page------------------------------------------------
  .error-404-wrap {
    justify-content: center;
  }

  .error-404 .container.er-404 .error-404-wrap .info-404 {
    display: none;
  }

  .error-404 .container.er-404 .info-404 {
    display: block;
    margin: 0 auto 50px;
  }

  .info-404 {
    position: static;
    transform: translate(0);
  }

  .error-404 {
    height: auto;
    padding: 140px 0 200px;
  }
  //404 page END--------------------------------------------

  //Header
  .header-container {
    justify-content: flex-end;

    .open-mob-nav {
      display: block;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }

    .header-nav {
      display: none;
    }

    .header-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  //Header END

  //Index Page----------------------------------------------
  .filters .action-find .btn {
    order: 1;
  }

  .description-filter {
    margin: 0 -20px;
  }

  .sanatorium-card,
  .sanatorium-card-clear {
    width: 100%;
    max-width: 311px;
    margin: 15px 10px 0;
  }

  .popular-sanatoriums-wrap {
    justify-content: center;
    padding: 10px 0;
  }

  .advantages-booking-wrap {
    max-width: 476px;
    width: 100%;
    margin: 40px auto 0;

    .card {
      margin: 15px;
    }
  }

  .work-card .arr-next {
    display: none;
  }

  .work-card {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    text-align: left;

    .work-card-icon {
      margin-bottom: 0;
      flex-shrink: 0;
      margin-right: 25px;
    }

    & + .work-card {
      margin-top: 25px;
    }
  }

  .how-we-working-wrap {
    flex-direction: column;
    align-items: center;
  }

  .head-screen {
    padding-top: 40px;
  }

  .head-screen-wrap {
    max-width: 455px;
  }

  .description-filter {
    align-items: flex-start;

    p {
      font-size: 24px;
    }
  }

  .filters {
    margin-top: 35px;

    .data-find {
      width: 100%;
    }

    .head-data-filter {
      flex-wrap: wrap;
    }

    .action-find {
      margin-top: 35px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      display: flex;
    }

    .extended-filter {
      margin-top: 0;
    }
  }

  .head-data-filter .group {
    width: 48%;
    margin-top: 30px;
  }

  .head-data-filter .group:first-child {
    width: 100%;
    margin-top: 0;
  }

  .additional-data-filter {
    justify-content: flex-end;
    color: #231f20;

    .group.filter-price {
      width: auto;

      span {
        margin: 0 10px;
      }

      .bar {
        margin: 0;
      }
    }
  }

  .filters .extended-search.active {
    top: 76%;
  }

  .data-find {

    .additional-data-filter {

      .raiting,
      .disease {
        display: none;
      }
    }
  }

  .checkbox {
    width: 100%;
  }

  .extended-wrap {
    max-width: 360px;
    margin-top: 55px;
  }

  .additional-data-filter_mob {
    padding: 5px 25px 0;
    display: flex;
    justify-content: space-between;

    .group {
      width: 48%;
    }
  }

  .preliminary-search {
    flex-direction: column;
    align-items: flex-end;

    .go-to-search {
      margin-top: 40px;
    }
  }

  .advantages {
    padding-right: 10px;
    width: 30%;
    font-size: 16px;

    img {
      margin-right: 15px;
    }
  }

  .resort-towns-wrap .town .town-info {
    padding: 10px;
  }

  .resort-towns-wrap .town, .resort-towns-wrap .town-clear {
    width: 24%;
  }

  .support-service-screen .support-service-wrap {
    max-width: 533px;
    width: 100%;
    flex-direction: column;
  }

  .support-img {
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
      width: 123px;
    }
  }

  .title-support {
    margin-left: 20px;
  }

  .support-content {
    margin-left: 0;
  }

  .sect-support,
  .phone-num-support {
    margin-top: 15px;
  }

  //Index Page END----------------------------------------------

  //Categories Card Page END-------------------------------------
  .additional-slides a, .additional-slides .video, .additional-slides .fancybox-clear {
    width: 10.1%;
  }

  .sanatorium-transfer {
    width: 100%;
    order: -1;
    margin-bottom: 10px;
  }

  .sanatorium-transfer-wrap {
    margin-left: 0;
    max-width: 181px;
  }

  .card-sanatorium-screen, .booking-form-screen {
    padding-top: 45px;
  }

  .rating-sanatorium-card {
    width: 37%;
  }

  .facilities-sanatorium-card {
    width: 35%;
  }

  .map-sanatorium-card {
    width: 33%;
  }

  .room-title {
    max-width: 720px;
    margin: 0 auto;
  }

  .room-card {
    max-width: 720px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .photo-room {
    width: 22.5%;
  }

  .description-room {
    width: 45%;
  }

  .reviews-this-room-wrap {
    font-size: 12px;
  }

  .facilities-room {
    width: 28%;
  }

  .booking-room {
    width: 60%;
    border-left: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    .notif {
      margin-bottom: 0;
    }
  }

  .price-room {
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-top: 25px;
    border-left: none;

    p:last-child {
      margin-right: auto;
    }

    .old-price {
      margin-right: 15px;
    }
  }

  .price-room p + p {
    margin-top: 0;
  }

  .dignity-sanatorium-wrap {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
  }

  .dignity-card {
    width: 100%;
  }

  .tabs .more-tabs {
    display: inline-block;
  }

  .tabs li + li {
    margin-left: 20px;
  }

  .tabs .drop-tabs li + li {
    margin-left: 0;
    margin-top: 5px;
  }

  .popup-review .name-and-surname {
    flex-direction: column;

    & > div + div {
      margin-top: 25px;
    }
  }

  .popup-review, .popup-review-thanks {
    width: 96%;
    padding: 40px 60px;
  }

  .popup-review .send-review .send-review-rating,
  .popup-review-thanks .send-review .send-review-rating {
    width: 100%;
  }

  .popup-review .send-review .group, .popup-review-thanks .send-review .group {
    width: 45%;
  }
  //Categories Card Page END-------------------------------------

  //Booking Page-------------------------------------------------
  .head-data-info-booking .question-form .tooltip {
    min-width: 250px;
  }

  .rating-sticker-wrap {
    margin-top: 0;
  }

  .price-booking {
    justify-content: flex-start;

    .title-booking-card {
      width: 100%;
      order: -2;
    }
  }

  .wrapcard.price-booking .old-price, .wrapcard.price-booking .new-price {
    width: auto;
    text-align: left;
    order: -1;
    margin-top: 10px;
  }

  .wrapcard.price-booking .new-price {
    margin-left: 20px;
  }

  .booking-info-room {
    margin-left: 20px;
  }

  .booking-info-room .sanatorium-transfer,
  .booking-info-room .rating-sticker-wrap {
    display: none;
  }

  .booking-card .rating-sanatoriums {
    order: 1;
  }

  .rating-sticker-wrap {
    justify-content: flex-start;
  }

  .rating-sticker-wrap .sticker-card {
    margin: 0 25px;
  }

  .booking-card .sanatorium-transfer {
    margin-top: 10px;
  }

  .booking-info-room .geo-position-sanatorium {
    align-items: center;
  }
  //Booking Page END------------------------------------------
}

@media (max-width: 720px) {

  .about-company-screen {
    padding: 20px 0 100px;
  }

  //Booking Page----------------------------------------------
  .header-container {
    height: 98px;
  }

  .booking-photo-room img {
    width: 128px;
  }

  .rating-sticker-wrap .sticker-card {
    margin: 0 25px 0 0;
  }

  .send-info-booking {
    padding-left: 42px;
  }

  .booking-form-wrap {
    flex-wrap: wrap;
  }

  .general-info-booking,
  .additionally-info-booking {
    width: 100%;
  }

  .additionally-info-booking {
    margin-top: 15px;
  }

  .head-data-info-booking .question-form .tooltip::before {
    transform: rotate(135deg);
    right: -9px;
    left: auto;
  }

  .head-data-info-booking .question-form .tooltip {
    right: 60px;
    left: auto;
  }

  .wrapcard.price-booking .sticker-card {
    width: 100%;
  }
  //Booking Page END----------------------------------------------

  //Categories Card Page END-------------------------------------
  .search-screen .group {
    margin-left: 24px;
    min-width: 200px;
  }

  .title-search {
    display: none;
  }

  .fancybox-close {
    top: 10px;
    right: 10px;
  }

  .fancybox-next span {
    right: 5px;
  }

  .fancybox-prev span {
    left: 5px;
  }

  .additional-slides a, .additional-slides .video, .additional-slides .fancybox-clear {
    width: 15.1%;
  }

  .card-sanatorium-screen, .booking-form-screen {
    padding-top: 0;
  }

  .head-sanatorium-card-info .show-price {
    order: 1;
    margin-left: 0;
    margin-top: 20px;
  }

  .like-icon {
    margin-right: auto;
  }

  .sanatorium-tabs {
    margin: 35px 0 0;
  }

  .title-page {
    font-size: 24px;
  }

  .tabs-content.fist-head-info {
    flex-wrap: wrap;
  }

  .rating-sanatorium-card {
    width: 50%;
  }

  .facilities-sanatorium-card {
    width: 50%;
  }

  .map-sanatorium-card {
    width: 100%;
    border-left: none;
    margin-top: 30px;

    #map {
      width: 100%;
      height: 270px;
    }

    .farther {
      width: 100%;
      margin-left: 0;
    }
  }

  .web-nav-screen ul {
    display: none;
  }

  .photo-room {
    order: -1;
    width: 159px;
  }

  .facilities-room {
    width: auto;
    order: -1;
  }

  .description-room {
    width: 100%;
    margin-top: 20px;
    border-left: none;
  }

  .price-room,
  .booking-room {
    width: 100%;
  }

  .reviews-title-wrap {
    flex-wrap: wrap;
    justify-content: space-between;

    .title-page {
      width: 100%;
    }

    .general-rating {
      margin-left: 0;
      margin-top: 10px;
    }

    .btn {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .reviews-card {
    justify-content: space-between;
  }

  .profile-reviews-card {
    width: 34%;
  }
  //Categories Card Page END-------------------------------------

  //Index Page----------------------------------------------
  .mob_nav {
    max-width: 270px;
  }

  .mob_nav .mob_nav-wrap .header-logo {
    justify-content: flex-end;
    padding-right: 15px;
  }

  .mob_nav .mob_nav-wrap .callback {
    margin-top: 45px;
  }

  .mob_nav .mob_nav-wrap .header-nav {
    margin-top: 15px;
  }

  .resort-towns-wrap .town,
  .resort-towns-wrap .town-clear {
    width: 48%;
  }

  .resort-towns-wrap .town {
    margin-bottom: 20px;
  }

  .info-company-wrap {
    max-width: 535px;
  }

  .subscription-wrap {
    flex-direction: column;
  }

  .subscription form {
    margin-top: 25px;
  }

  .contacts {
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-contact + .card-contact,
  .card-contact {
    margin: 45px 8px 0;
  }

  .send-mail {
    max-width: 340px;
    margin: 60px auto 0;
  }

  .send-mail form textarea {
    width: 100%;
    margin-top: 45px;
  }

  .send-mail form .name-and-surname {
    width: 100%;
    padding-bottom: 0;
  }

  .footer-wrap {
    min-height: 35px;
  }

  .footer-nav {
    display: none;
  }
  //Index Page END----------------------------------------------

  //Contacts Page-----------------------------------------------
  .contacts-page .send-mail {
    max-width: 490px;
  }

  .contacts-page .send-mail .name-and-surname {
    width: 60%;
    padding-bottom: 0;
  }

  .contacts-page .send-mail .send-mail-form {
    width: 100%;
    margin-top: 40px;
  }

  .contacts-page .send-mail .name-and-surname .group + .group {
    margin-top: 25px;
  }

  .contacts-page {
    .info-company-screen {
      padding: 50px 0 100px;
    }
  }
  //Contacts Page END-------------------------------------------

}

@media (max-width: 719px) {
  .advantages-wrap {
    flex-wrap: wrap;
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
    min-height: unset;
    padding-top: 35px;
  }

  .advantages {
    width: 100%;
    justify-content: flex-start;

    & + .advantages {
      margin-top: 23px;
    }
  }
}

@media (max-height: 580px) {
  .mob_nav {
    overflow-y: scroll;
    margin-bottom: 20px;
  }
}

//Медиа ради того чтобы на 720 было видно номер телефона в хэдере
@media (max-width: 599px) {
  .header-container .callback {
    display: none;
  }

  .original {

    .contacts {
      flex-direction: column;
      width: 210px;
      margin: 0 auto;
      padding-right: 30px;
    }

    .card-contact-info.address {
      max-width: 122px;
    }
  }

  .advantages-booking-wrap .card {
    margin: 7px;
    width: 157px;
    height: 147px;
    padding: 15px 10px 0;
  }

  .advantages-booking-wrap .card .title-card {
    margin-top: 5px;
  }
}

@media (max-width: 480px) {

  .sanatorium-title {
    font-size: 21px;
  }

  body {
    min-width: 320px;
  }

  //404 Page----------------------------------------------------
  .error-404 {
    padding: 50px 0 70px;
  }

  .info-404 {
    width: auto;
  }
  //404 Page END------------------------------------------------

  //Contacts Page-----------------------------------------------
  .contacts-page {
    .info-company-screen {
      padding: 50px 0 50px;
    }
  }

  .contacts-page .send-mail .name-and-surname {
    width: 100%;
  }

  .contacts-page .contacts .card-contact + .card-contact, .contacts-page .contacts .card-contact {
    margin: 25px 10px 25px;
  }

  .contacts-page .contacts {
    justify-content: center;
  }
  //Contacts Page END-----------------------------------------------

  //Booking Page------------------------------------------------
  .additionally-info-booking {
    display: none;
  }

  .booking-card-container {
    max-width: unset;
  }

  .head-data-info-booking .question-form .tooltip {
    min-width: 200px;
  }

  .booking-card {
    padding: 15px;
  }

  .send-info-booking {
    padding-left: 33px;
  }

  .booking-card-container .title-booking-card img {
    left: -27px;
  }

  .date-booking {
    flex-wrap: wrap;
  }

  .date-booking .group {
    width: 90%;

    & + .group {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .radio {
    display: inline-block;
    margin-top: 30px;
    margin-left: 15px;
    width: 21%;

    & + .radio {
      margin-left: 15px;
    }
  }

  .notification-booking-card p {
    margin-left: 15px;
  }

  .radio-set {
    margin-left: -15px;
    margin-top: -10px;
  }

  .booking-card .rating-sanatoriums {
    order: 0;
  }

  .rating-sticker-wrap {
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .rating-sticker-wrap .sticker-card {
    margin: 5px 0 0;
    width: 100%;
  }

  .general-info-booking .title-booking-card {
    font-size: 15px;
  }
  //Booking Page END--------------------------------------------

  //Categories Card Page END------------------------------------
  .fancybox-inner {
    height: 319px !important;
  }

  .fancybox-close {
    top: 1px;
    right: 0;
    transform: scale(.7);
  }

  .fancybox-next span {
    right: 16px;
    transform: scale(.7);
  }

  .fancybox-prev span {
    left: 16px;
    transform: scale(0.7) rotate(-180deg);
  }

  .popup-review, .popup-review-thanks {
    padding: 40px 20px;
  }

  .popup-review .send-review .group, .popup-review-thanks .send-review .group {
    width: 100%;
  }

  .services-list ul li,
  .therapeutic-base-list ul li {
    width: 100%;
  }

  .dignity-sanatorium {
    padding: 20px 15px;
  }

  .dignity-sanatorium-wrap {
    padding-left: 0;
  }

  .photo-room {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .fast-info {
    margin-top: 0;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-left: 20px;
  }

  .how-much-people {
    margin-top: 10px;
  }

  .facilities-room {
    order: 0;
    border-left: none;
    margin: 30px;
  }

  .description-room {
    margin-top: 10px;
  }

  .price-room {
    justify-content: center;
  }

  .booking-room {
    flex-direction: column;
    margin-top: 8px;
  }

  .booking-room .notif {
    margin-bottom: 15px;
  }

  .price-room p:last-child {
    margin-right: 0;
  }

  .reviews-card {
    flex-wrap: wrap;
  }

  .info-reviews-card {
    width: 100%;
  }

  .profile-reviews-card {
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .info-reviews-card .profile-date {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }

  .profile-reviews-card .photo-profile {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .additional-slides a, .additional-slides .video, .additional-slides .fancybox-clear {
    width: 24.1%;
  }

  .rating-sanatorium-card .detail-list .detail-rating-line-bg {
    width: 100%;
  }

  .rating-sanatorium-card {
    width: 100%;
  }

  .facilities-sanatorium-card {
    width: 100%;
    border-left: none;
    margin-top: 30px;
  }

  .facilities-sanatorium-card ul,
  .facilities-sanatorium-card .farther {
    max-width: unset;
  }

  .prompt .about-company-wrap {
    align-items: flex-start;
  }

  .geo-position-sanatorium {
    align-items: flex-start;
  }

  .work-card .work-card-icon img {
    width: 35px;
  }

  .work-card .work-card-icon {
    margin-right: 7px;
  }

  .work-card span {
    display: block;
  }
  //Categories Card Page END-------------------------------------

  //Index Page--------------------------------------------------
  .advantages-booking-wrap .card {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    min-height: 100px;
    height: auto;
  }

  .icon-card {
    flex-shrink: 0;
  }

  .description-filter {
    margin: 0;
  }

  .rights-company {
    font-size: 9px;
  }

  .subscription form {
    flex-wrap: wrap;

    .group {
      width: 100%;
    }
  }

  .subscription form .btn-subscription {
    margin-left: auto;
    margin-top: 20px;
  }

  .subscription form .group input {
    max-width: 100%;
  }

  .description-filter p {
    font-size: 18px;
  }

  .head-data-filter .group {
    width: 100%;
  }

  .filters .action-find {
    flex-direction: column;
    align-items: flex-end;

    .btn {
      margin-top: 20px;
    }
  }

  .filters .extended-search.active {
    top: 62%;
  }

  .additional-data-filter_mob {
    flex-wrap: wrap;
  }

  .additional-data-filter_mob .group {
    width: 100%;
    margin-top: 20px;
  }

  .group.filter-price {
    margin-top: 0;

    .group {
      width: 47px;
      margin-left: 6px;
      margin-right: 6px;
      margin-top: 0;
    }
  }

  .additional-data-filter {
    margin-top: 0;
  }

  .filters .extended-search {
    top: 50%;
  }

  .additional-data-filter .group.filter-price span {
    margin: 0;
  }

  .extended-wrap {
    padding: 0 10px;
  }

  .data-find .additional-data-filter {
    display: none;
  }

  .preliminary-search-val {
    text-align: center;
  }

  .filters .extended-search {
    padding-bottom: 40px;
  }

  .title-screen {
    font-size: 24px;
  }

  .resort-towns-wrap .town {
    margin-bottom: 15px;
  }

  .resort-towns-wrap .town .town-info {
    padding: 5px;
  }

  .popular-sanatoriums-wrap {
    margin-top: 15px;
  }

  .more {
    margin-top: 15px;
  }

  .popular-sanatoriums-screen {
    padding-bottom: 30px;
  }

  .advantages-booking-screen {
    padding: 25px 0 50px;
  }

  .advantages-booking-wrap {
    margin: 30px auto 0;
  }

  .advantages-booking-screen .title-screen,
  .how-we-working-screen .title-screen {
    text-align: left;
  }

  .title-support {
    font-size: 24px;
    margin-left: 15px;
  }

  .sect-support p + p {
    margin-top: 20px;
  }

  .support-img img {
    width: 90px;
  }

  .how-we-working-screen {
    padding: 70px 0 10px;
  }

  .how-we-working-wrap {
    margin: 35px auto 0;
  }

  .support-service-screen {
    padding: 70px 0;
  }

  .room-card .price-room {
    margin-top: 0;
  }

  .booking-card-container .btn.btn-compilation {
    font-size: 13px;
  }

  .price-booking .title-booking-card {
    width: auto;
  }

  .wrapcard.price-booking .new-price {
    width: 100%;
    text-align: right;
  }

  .price-booking {
    justify-content: space-between;
  }

  .wrapcard.price-booking .old-price {
    margin-top: 0;
  }
  //Index Page END----------------------------------------------
}

//Медиа ради того чтобы на 320 текст кнопки не переходил на новую строку
@media (max-width: 353px) {
  .card-content .btn.btn-filter {
    width: 100%;
    padding: 9.5px 20px 9.5px 11px;
    font-size: 12px;
  }

  .btn.btn-filter svg {
    top: 6px;
  }
}

//IE
@media (max-width: 480px) and (-ms-high-contrast: none) {
  .subscription .subscription-wrap {
    display: block;
  }
}

